USE [CinemaDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Age] [int] NULL,
	[Balance] [float] NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsStatus] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CityId] [int] NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaSalon]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaSalon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CinemaId] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
 CONSTRAINT [PK_CinemaSalon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaSession]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CinemaSalonId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SessionTime] [datetime2](7) NULL,
	[MovieSpecifiedId] [int] NOT NULL,
 CONSTRAINT [PK_CinemaSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaSessionSeat]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaSessionSeat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CinemaSessionId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[IsOccupied] [bit] NULL,
 CONSTRAINT [PK_CinemaSessionSeat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Time] [int] NOT NULL,
	[MovieType] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Director] [nvarchar](max) NULL,
	[ReleaseTime] [datetime2](7) NULL,
	[ImageBackground] [nvarchar](max) NULL,
	[Rate] [float] NULL,
	[Fragman] [nvarchar](max) NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieSpecified]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieSpecified](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[IsEnglish] [bit] NULL,
	[IsTurkish] [bit] NULL,
	[IsImax] [bit] NULL,
	[Is3d] [bit] NULL,
	[Is2d] [bit] NULL,
 CONSTRAINT [PK_MovieSpecified] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[ApplicationUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsStatus] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 26.01.2024 23:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RowColumn] [nvarchar](max) NULL,
	[CinemaSalonId] [int] NOT NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240116083221_createe', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240117064243_new', N'6.0.24')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2e199f1b-09aa-484e-be06-e54578ae224e', N'User', N'USER', N'e8d61510-2395-418f-9686-4b418d8d94f2')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'73118c64-fb22-4ecb-b3e8-55adbf57724a', N'Admin', N'ADMIN', N'6a2dd4ac-d4ba-4c1b-b571-f4c2fe406795')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ddb5652b-bbec-486f-a8a1-754ffc5b56cc', N'Customer', N'CUSTOMER', N'5932bcf5-96fc-4625-9ad5-be4c367e4119')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'332d2bfb-08b9-4b44-ac24-788cb8067df0', N'2e199f1b-09aa-484e-be06-e54578ae224e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'aa5d7e76-39be-49a3-9d38-f42af957410c', N'2e199f1b-09aa-484e-be06-e54578ae224e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'18f9da72-7dc0-4621-bbfc-3c1730c0895e', N'73118c64-fb22-4ecb-b3e8-55adbf57724a')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [IsStatus], [IsDelete], [Image], [Description]) VALUES (1, N'Bilgisayar', 1, 0, NULL, N'Bilgisayar açıklama')
INSERT [dbo].[Category] ([Id], [Name], [IsStatus], [IsDelete], [Image], [Description]) VALUES (2, N'Telefon', 0, 0, N'a12a2588-71fe-494d-a173-daa53e33be37.jpg', N'Telefon')
INSERT [dbo].[Category] ([Id], [Name], [IsStatus], [IsDelete], [Image], [Description]) VALUES (3, N'Tablet', 1, 0, NULL, N'tablet')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([Id], [Name], [CityId]) VALUES (1, N'CevahirAvm', 5)
INSERT [dbo].[Cinema] ([Id], [Name], [CityId]) VALUES (2, N'Natilus', 5)
INSERT [dbo].[Cinema] ([Id], [Name], [CityId]) VALUES (3, N'Extreme Avm', 5)
GO
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaSalon] ON 

INSERT [dbo].[CinemaSalon] ([Id], [Name], [CinemaId], [Capacity]) VALUES (1, N'A', 1, 48)
INSERT [dbo].[CinemaSalon] ([Id], [Name], [CinemaId], [Capacity]) VALUES (2, N'B', 1, 56)
INSERT [dbo].[CinemaSalon] ([Id], [Name], [CinemaId], [Capacity]) VALUES (3, N'C', 1, 64)
GO
SET IDENTITY_INSERT [dbo].[CinemaSalon] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaSession] ON 

INSERT [dbo].[CinemaSession] ([Id], [CinemaSalonId], [Name], [SessionTime], [MovieSpecifiedId]) VALUES (1, 1, N'ucuz seans', CAST(N'2024-01-27T14:30:00.0000000' AS DateTime2), 1)
INSERT [dbo].[CinemaSession] ([Id], [CinemaSalonId], [Name], [SessionTime], [MovieSpecifiedId]) VALUES (2, 1, N'pahalı akşam seansı', CAST(N'2024-01-27T17:30:00.0000000' AS DateTime2), 1)
INSERT [dbo].[CinemaSession] ([Id], [CinemaSalonId], [Name], [SessionTime], [MovieSpecifiedId]) VALUES (5, 1, N'asd', CAST(N'2024-01-26T19:30:00.0000000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[CinemaSession] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaSessionSeat] ON 

INSERT [dbo].[CinemaSessionSeat] ([Id], [CinemaSessionId], [SeatId], [IsOccupied]) VALUES (97, 1, 2, 1)
INSERT [dbo].[CinemaSessionSeat] ([Id], [CinemaSessionId], [SeatId], [IsOccupied]) VALUES (98, 1, 3, 0)
INSERT [dbo].[CinemaSessionSeat] ([Id], [CinemaSessionId], [SeatId], [IsOccupied]) VALUES (99, 1, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[CinemaSessionSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [CityId], [Name]) VALUES (1, 5, N'İstanbul Avrupa')
INSERT [dbo].[City] ([Id], [CityId], [Name]) VALUES (2, 77, N'İstanbul Anadolu')
INSERT [dbo].[City] ([Id], [CityId], [Name]) VALUES (3, 11, N'Bursa')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Name], [Time], [MovieType], [Price], [Image], [Description], [Director], [ReleaseTime], [ImageBackground], [Rate], [Fragman]) VALUES (1, N'Hayat', 200, N'Drama', 54, N'Uploads/Films/hayat-2023116112758c538d000908439d919b9723b7a02015.jpg', NULL, NULL, NULL, N'Uploads/FilmCover/hayat-20231251327417a508d7726814016ad4f77638bb89fba.jpg', 4.2, NULL)
INSERT [dbo].[Movie] ([Id], [Name], [Time], [MovieType], [Price], [Image], [Description], [Director], [ReleaseTime], [ImageBackground], [Rate], [Fragman]) VALUES (2, N'Rafadan Tayfa', 232, N'Komedi', 34, N'../Uploads/Films/rafadan-tayfa-4-hayrimator-20231226152043d39ea462dd3540359d8fba146a44454e.jpg', NULL, NULL, NULL, N'Uploads/FilmCover/rafadan-tayfa-4-hayrimator-2023127154429c88d906e22454d7aaac33c30b7207a32.jpg', 4.3, NULL)
INSERT [dbo].[Movie] ([Id], [Name], [Time], [MovieType], [Price], [Image], [Description], [Director], [ReleaseTime], [ImageBackground], [Rate], [Fragman]) VALUES (3, N'Ölümlü Dünya', 222, N'Komedi', 35, N'../Uploads/Films/olumlu-dunya-2-2023112415286488d081ef743480cbd1749758cf41cec.jpg', NULL, NULL, NULL, N'Uploads/FilmCover/olumlu-dunya-2-2023118145452a31acd6cb34d425190128f015e307584.jpg', 4.3, NULL)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[MovieSpecified] ON 

INSERT [dbo].[MovieSpecified] ([Id], [MovieId], [IsEnglish], [IsTurkish], [IsImax], [Is3d], [Is2d]) VALUES (1, 1, 0, 1, 1, 0, 0)
INSERT [dbo].[MovieSpecified] ([Id], [MovieId], [IsEnglish], [IsTurkish], [IsImax], [Is3d], [Is2d]) VALUES (2, 2, 1, 0, 1, 0, 0)
INSERT [dbo].[MovieSpecified] ([Id], [MovieId], [IsEnglish], [IsTurkish], [IsImax], [Is3d], [Is2d]) VALUES (3, 3, 1, 0, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[MovieSpecified] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [UserId], [ApplicationUserId]) VALUES (1, N'aa5d7e76-39be-49a3-9d38-f42af957410c', NULL)
INSERT [dbo].[Order] ([Id], [UserId], [ApplicationUserId]) VALUES (2, N'aa5d7e76-39be-49a3-9d38-f42af957410c', NULL)
INSERT [dbo].[Order] ([Id], [UserId], [ApplicationUserId]) VALUES (3, N'aa5d7e76-39be-49a3-9d38-f42af957410c', NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Stock], [Price], [CategoryId], [Name], [IsStatus], [IsDelete], [Image], [Description]) VALUES (1, 2, 33, 1, N'Monster A5', 1, 0, N'empty.jpg', NULL)
INSERT [dbo].[Product] ([Id], [Stock], [Price], [CategoryId], [Name], [IsStatus], [IsDelete], [Image], [Description]) VALUES (2, 34, 2444, 2, N'Xiaomi', 1, 0, N'empty.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Id], [RowColumn], [CinemaSalonId]) VALUES (2, N'A1', 1)
INSERT [dbo].[Seat] ([Id], [RowColumn], [CinemaSalonId]) VALUES (3, N'A2', 1)
INSERT [dbo].[Seat] ([Id], [RowColumn], [CinemaSalonId]) VALUES (4, N'A3', 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Discriminator]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[CinemaSalon] ADD  DEFAULT ((0)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CinemaSalon]  WITH CHECK ADD  CONSTRAINT [FK_CinemaSalon_Cinema_CinemaId] FOREIGN KEY([CinemaId])
REFERENCES [dbo].[Cinema] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CinemaSalon] CHECK CONSTRAINT [FK_CinemaSalon_Cinema_CinemaId]
GO
ALTER TABLE [dbo].[CinemaSession]  WITH CHECK ADD  CONSTRAINT [FK_CinemaSession_CinemaSalon_CinemaSalonId] FOREIGN KEY([CinemaSalonId])
REFERENCES [dbo].[CinemaSalon] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CinemaSession] CHECK CONSTRAINT [FK_CinemaSession_CinemaSalon_CinemaSalonId]
GO
ALTER TABLE [dbo].[CinemaSession]  WITH CHECK ADD  CONSTRAINT [FK_CinemaSession_MovieSpecified_MovieSpecifiedId] FOREIGN KEY([MovieSpecifiedId])
REFERENCES [dbo].[MovieSpecified] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CinemaSession] CHECK CONSTRAINT [FK_CinemaSession_MovieSpecified_MovieSpecifiedId]
GO
ALTER TABLE [dbo].[CinemaSessionSeat]  WITH CHECK ADD  CONSTRAINT [FK_CinemaSessionSeat_CinemaSession_CinemaSessionId] FOREIGN KEY([CinemaSessionId])
REFERENCES [dbo].[CinemaSession] ([Id])
GO
ALTER TABLE [dbo].[CinemaSessionSeat] CHECK CONSTRAINT [FK_CinemaSessionSeat_CinemaSession_CinemaSessionId]
GO
ALTER TABLE [dbo].[CinemaSessionSeat]  WITH CHECK ADD  CONSTRAINT [FK_CinemaSessionSeat_Seat_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
GO
ALTER TABLE [dbo].[CinemaSessionSeat] CHECK CONSTRAINT [FK_CinemaSessionSeat_Seat_SeatId]
GO
ALTER TABLE [dbo].[MovieSpecified]  WITH CHECK ADD  CONSTRAINT [FK_MovieSpecified_Movie_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieSpecified] CHECK CONSTRAINT [FK_MovieSpecified_Movie_MovieId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_CategoryId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_CinemaSalon_CinemaSalonId] FOREIGN KEY([CinemaSalonId])
REFERENCES [dbo].[CinemaSalon] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_CinemaSalon_CinemaSalonId]
GO
