@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinemaProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="~/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="icon" sizes="16x16 32x32" href="~/dist/assets/img/favicons/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="~/dist/assets/img/favicons/favicon-152.png">

    <link href="~/dist/assets/css/style.min.css?v=20240117" rel="stylesheet">
    <link href="~/dist/assets/css/cookieconsent.css" rel="stylesheet">
      
    <script defer="" src="~/dist/assets/js/cookieconsent.js"></script>
    <script defer="" src="~/dist/assets/js/cookieconsent-init.js"></script>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="Index List Cinema">

       

        <div class="mobileNav" id="UserAreaMobile">


        </div>

    <main>
        

<style>

    .header_search > div{
        max-width: 100%;
        overflow: hidden;
        padding-right: 20px;
        white-space: nowrap;
    }
    .header__right__dilSec {
        height: 44px;
        width: 44px;
        display: flex;
        border-radius: 4px;
        font-size: 15px;
        border: 1px solid #e1e1e1;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        position: relative;
    }

        .header__right__dilSec > button {
            border: none;
            outline: none;
            background: none;
            position: relative;
            width: 100%;
            height: 100%;
        }

            .header__right__dilSec > button > img:nth-child(2) {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 5px;
            }

        .header__right__dilSec > ul {
            position: absolute;
            top: 70px;
            right: 1px;
            width: 125px;
            background-color: #fff;
            color: #000;
            border-radius: 4px;
            display: none;
        }

            .header__right__dilSec > ul > li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 10px 0;
                border-bottom: 1px solid #dfdfdf;
                cursor: pointer;
            }

                .header__right__dilSec > ul > li > img {
                    width: 22px;
                }

                .header__right__dilSec > ul > li:last-child {
                    border-bottom: none;
                }

    .open {
        display: show !important;
    }

    .cityModalWrapper_chooseLang {
        /*padding: 0 30px;*/
        width: calc(100% - 30px);
        margin-top: 12px;
        margin-bottom: 32px;
    }

        .cityModalWrapper_chooseLang > div {
            position: relative;
            widows: 100%;
        }

        .cityModalWrapper_chooseLang > h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 12px;
        }

        .cityModalWrapper_chooseLang > div > form > select {
            width: 100%;
            height: 44px;
            /*background-color: transparent;*/
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            padding: 10px 16px;
            font-size: 14px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: white;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 10px;
        }

        .cityModalWrapper_chooseLang > div > span {
            position: absolute;
            right: 34px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 9px;
            color: #777;
            pointer-events: none;
            display: none;
        }

  
    }
</style>


<header class="header">
    <div class="header__left">
        <figure class="header__logo">
                    <a href="~/" title="Ana Sayfa">
            <img src="~/dist/assets/img/logodark.svg" class="logo_desktop" alt="biletinial koyu logo">
            <img src="~/dist/assets/img/logosmall.svg" class="logo_mobile" alt="biletinial koyu logo">
            </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="ms-5 btn btn-primary">Panel</a>

                    }

        </figure>

          
    </div>
        <nav class="header__menu siteNav">
            <ul>

                    <li>
                    <a href='~/' title='Sinema'>
                        <img src='~/dist/assets/img/icns/sinema.svg'>
                        <span>Sinema</span>
                    </a></li><li>
                  
</ul>

   
        </nav>
        <div class="header__right">

                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white   ">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
                <div class="header__right__dilSec">
                    <button class="header__right__dilSec__btn">
                            <img data-lang="tr" class="guncelDilBayrak" src="~/dist/assets/flags/tr.svg" alt="">
                    </button>
                    <form action="/Home/SetCulture" method="post"><input type="hidden" id="hdnCultureLang" name="culture" value="tr"></form>
                    <ul class="header__right__dilSec__list">
                        <li data-language="tr">
                            <img src="~/dist/assets/flags/tr.svg" alt="">
                            <span>Türkçe</span>
                        </li>
                        <li data-language="en">
                            <img src="~/dist/assets/flags/gb.svg" alt="">
                            <span>English</span>
                        </li>
                        <li data-language="hr">
                            <img src="~/dist/assets/flags/hr.svg" alt="">
                            <span>Hrvatski</span>
                        </li>
                        <li data-language="sq">
                            <img src="~/dist/assets/flags/al.svg" alt="">
                            <span>Shqip</span>
                        </li>
                    </ul>
                </div>
                
                
        </div>

    <input type="hidden" value="tr-tr" id="hdnRegion">
</header>




        


<style>
    .categoriesTarihTemizle, .categoriesTypeTemizle, .categoriesMekanTemizle, .categoriesSehirTemizle {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 12px;
        border: 1px solid #ddd;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 2;
        background: none;
        color: #000;
        font-weight: normal;
    }

        .categoriesTarihTemizle:Hover, .categoriesTypeTemizle:Hover, .categoriesMekanTemizle:Hover, .categoriesSehirTemizle:Hover {
            background: #EFF0F1;
        }


    
    }

    .filmTypesFilterButtonSelected {
        background-color: #f8e71c !important;
    }
</style>


    <a class="backToTop" onclick="backtoTop();"> </a>
  

        @RenderBody()


        


    <footer>
        <div class="container">
            <div class="footerWrapper">

                
                
                
    <div class="footerLinkBlock">
        <span class="blockTitle">Kurumsal</span>
        <ul>
                    <li><a href="#" class="">Kişisel Verilerin Korunması</a></li>
                    <li><a href="#" class="">S&#246;zleşme ve Politikalar</a></li>
                    <li><a href="#" class="">Entegre Y&#246;netim Sistemi Politikası</a></li>
                    <li><a href="#" class="">Hakkımızda</a></li>
                    <li><a href="#" class="">M&#252;şteri Hizmetleri</a></li>
                    <li><a href="#" class="">&#199;erez Aydınlatma Metni</a></li>
                    <li><a href="#" class="">Online &#214;deme Koşulları</a></li>
                    <li><a href="#" class="">İletişim</a></li>

        </ul>
    </div>
    <div class="footerLinkBlock">
        <span class="blockTitle">Yardım</span>
        <ul>
                    <li><a href="#" class="">SSS</a></li>
                    <li><a href="#" class="">İptal, İade ve Değişim</a></li>
                    <li><a href="#" class="">Nasıl Bilet Alınır</a></li>
                    <li><a href="#" class="">Biletinizi Mi Kaybettiniz?</a></li>

        </ul>
    </div>
    <div class="footerLinkBlock">
        <span class="blockTitle">Bizimle &#199;alışın</span>
        <ul>
                    <li><a href="#" class="">İş Başvurusu</a></li>

        </ul>
    </div>


                    <div id="ETBIS" class="footerLinkBlock">
                        <div id="0E7E90D0FD3141648C23D81F3E433BA4">
                            <a href="#" >
                                <img style='width: 100px; height: 120px; margin-top: 5%; margin-left: 1%;' src="data:image/jpeg;base64, iVBORw0KGgoAAAANSUhEUgAAAQIAAAEsCAYAAAAo6b0WAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAIjJSURBVHhe7V0HgBTFElXh6zdLDipZFERFMX0QBHNGjJhQMX5zTqiIWRSz34gSRFBAUFFAyelyTuQcJeds/Xozs7e7NTV3PTe3dwfs08fd7VZ3T+h506G6ej8GVSSeeOKJpOH4449X7SVvuukmJ0XxOP3009U8JC+77DInRRgrV66kI444QrU34TnnnOPkFMamTZuodu3aLtthw4Y5FkUjMzPTlfaAAw6gWbNmORZh3H777S5bfCaBtMhD2mr8+OOPnVRFY9myZXTooYe60k+ePNmxKD3g3slynnzySefb0sM333zjKgd1VgPquLStAFQ/LDfGhSAuBKWJuBAYU/2w3BgXgrgQlCbiQmBM9cNyY1kKQatWrdQ8JDUhWLVqVUyEoFatWi7bIEKw//770+zZsx2LMEyFAGlLWwiWL19OhxxyiCv9niwEvXv3dpUTF4IALEshaNGihZqH5FVXXeWkCGPbtm105JFHqvYm1IRg48aNdNhhh7lsR4wY4VgUjbS0NFdacMmSJY5FGHfffbfLDp9J4O1tKgTvvfeek6pobNiwQU2fnJzsWJQecO9kOc8//7zzbenh+++/d5WzxwvBm2++SaNGjYo5H3roIVfZsRCCFStWWG+Giy++OIp9+/Z1HdO1117ryrN69equtB06dKDKlSu7bE2pCcGuXbto/PjxrmN64IEHXOV/9tlnTqow8IDJtCNHjqQbb7zRlb5u3bquY8Jn0q5t27ZWq0La/u9//3OVtWDBAudIwpg6daorz06dOtFvv/3mSn/nnXe6bAcMGODkFAZaPtLOi7h38tgbNGig2gah9nD7EQI8C/J6xIJ4tmXZDt0fTps2zTnk2KJPnz6usmMhBHPnzlVt8/LyHIswXnjhBdW2tKkJgRe05q329vaCNu4QlHPmzHFyLxo//fSTKy3GBzRoXTXcD4k///zTZVcR6UcI8CyUBfBsy7Iduj/EhS4L4K0iy46FEMyfP5/+9a9/uWxTUlIcizDQf5R2saAfIbj66qtd6R9++GHn26Kxe/duatKkiSt9UOKtbAKMb8i0ECaMh0jgmkjbV1991fk2jHHjxrnsKiL9CAGehbJAESLq/jAuBNF2sWBcCOJCEMm4EIiygwoB+vgS6DtrQqCNpj/++OMuu1gQYwym2NuEAGMRGnBNpG1cCEoXgYUgMTGRevbsWWLOmDHDySmMoEKAQZqnn346ii+++KKrbPQzK1Wq5Er/yCOPuGxffvllV55B2aZNG1fZDRs2dJX9wQcfqG/KvU0IDj/8cHr99ddd549rIm1NheDAAw+kBx98UL3+pc1mzZq5ytcYVAjwzMhr5Id4ZiUCCwEeMM3WlJhekQgqBD/++KPzbRhDhgxx2fnh+++/7+RUeujVq5dalkZtqm9vEwI/NBUCTOX+888/jkVscccdd7jK1xhUCLQpST/EMysRWAiKmHYw4uDBg52cwggqBPDmkvjhhx9cdn5oOhfuB6jMWlmSGE3HvL1EXAiioQkBnLvg7VkWwDiULF9jUCHAMyPt/BDPrERcCAwZFwIzxoUgunyNcSFQGFQIjjnmGJftd99953wbRtCKh2Z8acNUCEAMbEpcfvnlLjv0h00AIahTp44rfVBq6xc0wCtSS29KUyFA12Dr1q2ORWxhKgSosxriQiDgRwgwG4BFQpH88MMPrSnASGIQSubpRQz6yDzfeustV54zZ850jiKMnTt3Unp6ustWY48ePVzlaGzdujWNHTvWlf6uu+5y2T711FMuO81BCkKAFoVMb0ovN2y0vGT5GtFq0/LVqLlXmwoBWlN//fWXegwlZWpqKm3fvt0pNQxNCODBKM9Hm8EC4kIg4EcINHTt2tWV3g+15u0TTzzhsrvwwgudb8P4+++/6d///rfLVuNLL73kpCoaO3bsoGrVqrnS//LLL45FGJ988onLrnnz5s63pQe4DZuuNdCordPwQrt27VzpTYUgVpw3b55TahiaENxzzz3Ot8UjLgQCQYUAb0qZ3g+xSEdCcyi69NJLnW/DQH9Ue4NpNBWCLVu2UM2aNV3phw8f7liEgZV+0u6kk05yvi09wJU4iBB07NjRyal4VDSHIkw5wxlNQhOCu324fMeFQKC8hQDNPwlNCLRlyH7iEZgKgZ94BJoQnHLKKc63pQc/8Qg0oltiioomBHBCMxUC1EVTxIVAoLyFQFv2qgkBBusk1qxZo66p19itWzcnVdHA0uYgQtCyZUvn29IDFmyVVddAEwKM+UhMmDDBZRcLegnBDTfc4LLFyklTxIVAIBZCgCWzWB5sQgwGSXh1DTA4GElM81WtWlXNV7J79+5O7mHA+UXmuW7dukBCcPLJJ7vyDMqCggJVCNBs1s5V8pprrlHz1aAJwSuvvOJKO2bMGLUsU5oKm5cQ3Hrrra487733Xufb4hEXAoFYCAHeQHiLmRBvYAlNCPDmh/trJPH2zc3NVfOVROtBAt0SmWf9+vVVV2hTIYCbrcwzKLVpW/D3339Xz1Wyf//+rjzPPPNM2rx5s3MmYWhCUKVKFVd6xDPQyjKl6VJzLyHAQLHM048PQ1wIBGIhBFDrINCEQCMGCjHKX1JMnDhRzVejqRCUJadPn+4cSdFAABKZFnP+pqsPNcIuCD766CM1X0kvIQiKuBAIxEIIMJATBKZCgHnj9evXO6n8A/H5tHw1VkQhCOJZ6GcZskY/Kzc1wHtUy1cyLgRxISiWcSGIC0FJsUcLAabANFtTarHnggoBYvnJ9FgZFgQY4Zd5agwqBFlZWWq+GrVVlnEhKDm0eudFbXwnKEyFAM+MtPNDbdo6sBDk5ORQv379SkxNWf0IwTPPPEO33XZbFLXFNAhMKe38EN55Mk+NXkIAFdbylUQsBZnnQQcdZHkMymu3cOFCJ/cwTIUAsyjvvvuuK09TIq0WvLSiCQGcsfBi0K61pBYbEYOQ8twR3BYegzJ90JiepkKAZ0Yekx/imZUILASxgB8h0OL9lye9hMB0rwSNGIDUZjI0mAoBpsqwB0NJgbTadFtFEwJMvQbxdzj77LOdnKJx1FFHuWy1xW5+YCoEscAeLwTaMuTypJcQoJJq9ib0WoaswY8QmK4U1ODlWVjRhAD3AvdEszchFglJYFYIU7rSFguugiAuBAJxIYhmXAjiQhBr+BICLdZZLIA+mCw7LgRmQoANTrQ8JMtbCP744w9XWqza1HDaaae5bDXujUKAZ6EsgGdblu3Q/SEG5rTBh9Kmtv+eHyH4z3/+4xrIwc480g4P2C233OKy1Zb8oo8v7c477zyXnR8hgOuvzFMbLPQSAux+JK8dfPBlnldccYUrTy8hwA5EMk98JuFHCLB2Q+aJqTp5nFiph362tEXUJWmLayfL9iMEuHcyT20cJ6gQ4DrJ89FWjQKaEOBZkOljQTzbsmyH6oflRj9CMHDgQOfbMH799VeXHUaENWCASNpqTbRJkya57PwIgTafq00fegnB+eef77LFCLkE1s5LOy8h0LZ20wJp+BECLT6EtoQbI/zSDtSWhWv+K36EAPdOQuuSBhUCrYWGAW4NmhBUAKoflhv9CIFpzELcTNxUCdx8aavFLIRfvbTzIwTafK7mUOQlBKYxC/FwSjsvITDdDdmPEOCYpJ22DBnniHOVttpuyJr/ih8hwL2T0ByKggpBfFv0UmZcCOJCEIm4EJQZ1Q/LjY0bN3YuVzRMhQCr3aQdov6YCgEWpEhg2au0q1Gjhpqn1oz3IwSYD5fQmvHYkUkCC4GknZcQaME1NPdsLyHQFh1pu0Rp3Q2coyYEWnwIBCaRdrjGErgXWsSo0aNHOxZhaIuOsCJSA2Y4pC3qmMQXX3zhsoOIaEAdl7blzsjlnRWBF110kXO5omEqBIjvJ/PEtJS2Bl4TAixRlUtMv/32W5cdlsdmZ2e7bDGAKW1NhQDLnZOSklx54ppIW7y9pZ3WcvESAgQ/ldcJn0l4CQHKkuVrrQwcu7TDOWpBXbBzsrTVWhm4xtIOS8KxNFyeE8aRpK22DBlh3qQdgtZiHEnmqcWQhBu4tNMEC8A1kbblzf1k0IeKQA2mQqAF/PDKUxMCVHoZdEKLEQBKO1BzxzUVAtA0T9Pj9BKCXbt2ua4RPpPwEgItMIlm5xUoRtqBQfJEkBh0OeQ5YSZF2prmefDBB1sxG2We2o5KiBYt7UANml15cz/n2Co8TIXADzQhiAX9CEFp00sITOElBBWNaGFoC4QuueQS1d6EEIdFixY5Oe3diAuByDMWjAtB7Om10xECz2r2JozVMuSKiLgQiDxjwfIWAjRvS4qg4czLil5CEKRFEBeCCohYCMEZZ5zhyjMWLG8hCFKZkXZPFgJtoNWUcSFQgJFz+IKXlNiOSgIRWKTddddd53wbjSBCsHTpUmt6SJZlGo48KE2FAINTWBQCD7tItm/f3mXbuXNnlx1GyKUdiHlree6m9JrzRlmyfFPiHHGuWr4lpZcQzJ4921W+Ns2p0UsInn/+efValTaffvppp8TigYA8Wh6mNBYChJXWLpYpNXdgbT4XgUU0BBECTAXJtGVJUyHAPPjGjRsdizAgjtIWIdUk0J+XdrFikHEHnKPpLlGm9BICDdp2cRq9hABRlDX70qa2n4YXsLmNlocxnXyKRXnHLAwiBLiZuKkyfVnRVAhi4VkYK2qehabw8iwMQj9CoHkWavQSAs0ZKxb0ah1r0PxXfNHJp1jEhaDkjAtBNOJCYMYKKQTYLlzNwJCaEPTq1ctld+yxxzrfRkNz9fz000+db4vGhg0bylUIcO0kEE9O2nkJgbYMWttiCzs3SbtYEbsklxQIx6blGZQrVqxwSigan3/+uZpeozbjgia7Zlva9PKy1QDPSC0PYzr5ROHLL7+0+qCRxLZdUNLi+Pbbb1sbWMiCNCHAW0VLL8sG8bm01YIzpqenu9IiAKU28v3YY4+58gxKLaAq3FTlMWGwT9p5CQHWtctyxo4d63wbBnbgkXZ+qB2TF7GuX56TKTEIhqCosnzL1VWUg+k/aacR/X4sb5b4+uuvXeWfe+65rnLwApJ5fvDBB+rCshEjRrhsNT777LOucryINRkyPZbUS2CdBvKV54SXjUzvh6oQYIRdHuhzzz3nfFs8cFFlek0INCBir0wLag+IBgS80NJrxIhyaSPIdJWXEJQVhg4dqh5XaRPRmjVoKzfRagyCNm3auPLU6BW8NAggzFpZGhE0xARezwfWvQSBKgQXXnihqyBMmZhg69atdPTRR7vSmwoBFo/ItKDpFlvaMmQvatuiB4VWmU1Z3kLQp08f9bhKm35iFmrbovuBqWchnMtKG9pqUC+axixcvHixFepNpg8aYj0uBKWMuBAUz7gQuLnHCEGPHj2cb4tHkK6BFm4LxAUwgR8hMBUXPwgiBOCSJUucnMoe33//vXpMpU0vIdDmwrFkOAjatWvnylPjWWed5aQoPaDOamVpNBUCr66BFpLND4yF4MYbb6SRI0cWS6zV1oKCakKAkWeZHpURA0SSeMClrbYyzI8QwKFJ5gnnoyDQhAADiNo5SWKa0HSLLUxryWOfMmWK820YWDKLnZelrcb3339fPS6Nhx9+uOs8TeklBBj0kuXgfkqsXr3adezwXN2+fbtjEQambmWeJ5xwguuYjjvuOFeeQYljl2WDmjOVqRBgwxls/S/zzM/PdyzCmDFjhnpcGo2FICg1Ifjwww9ddo0aNXK+jYbWysA0kIQfIdCoBRr1A00IEHG4tGGN9IpytOhOWCevTb1qRKRnU1huqUoeJvQSAlNosfmxZBiDcybAtLNMHwt6TYVrU32mQuAHTzzxhKscTzppolBWQoCTl3bYe1BD06ZNXbaaQ1FQIcADFgSaEGgORUGhbXCC0N8SEALT0FhazEIvBHFpDSoE48aNc+WJFkppOxQFJeqsBm39RiyEAON6shxPOmmiUJ5CENSzcF8WAjycEhACzbdB454sBLHwLAxK1FkNe4wQaJ5sQalt9qB5eHldPK1fpwlB0AGvd955x8mpZNBGvoMOeGmAs4ssp1mzZs63YUAI6tWr57LVCCchU2iV2ZQYQ9ICv5rCSwg05x8NmkdrLOjVzW3RooXLttyFAAMvkldeeaUVAy6SQZeNwtFHlgNvMFkORm+lHai91TQhGDJkiCtPP9TcllFp5fGsXbtWjV2HgRyZpzbugDhxMk8vaoNgX331lascjJBLQAiws4+01YgdiLTyNbZu3VrNw4QQe4yoyzxxTUzg1TXAikiZp8aePXuqx2XKAw880FU+nKSkHa67Vr72UtOEAPddS69Ru3a+hADReCXh2ojR60iieatmYEjMkctyHnroIVc5iHAr7UAtMKcmBLh4Mk8/hB+EBAan5PGg3401DBJYYmuSZ0JCgitPL8KlVQL++rIcrzciPpe2GnE9tfI1Yns0LQ8TYjS7bt26rjxxTUygCQEGC+HaLvPUCBdn7bhMqYWXR2tK2mHth1a+Vpc1IUArWkuvUQsF70sIlA9UP3Y0mTXbILz//vud3MPw44ShCUEs8Ntvv7nK9tMU1YApPZmnF+H6WxaAm6tWvkY4fpUUmALTFoHhmphAEwI/xGh6EGB2ReZ57733Ot+GgQVL0s6LmhAgRLpmq1HbtzKwEOANKBF0GbLG//73v07uYXh5FmosKyHws9ORKfyEKsPW4mUBP56FsViGjGtigqBCAH+FINCWId91113Ot2EE9SzEALtmq1HzLNyjhSAvL0+11VhWQqBt7Q0h0LoGpoDzj8zTi3ujEGhh4kyFALtDy7R+WFZCgC6QtPNihRSCCRMmOFmFEYuR1vvuu8/JPQw/zSkMQJYFtIqHLc+0wUJTIHaezNOLZSUEWLKrla8Rx19SIIaklqdW7zQUsce/EYN2Dbp06eLKU+vmwnNW2nkRW6ZJYIxAs9WI5fcSCB2g2aocNWoUSWL9PvbvjyRcMGViTFdp6U2J0VtZzs0336zaaoSyy/SxoOZFh5FjbGklbbU35YABA1x22lJvL2pCgEoi89QI91PT9Quw066zxiCtIQx0wiVY5okBNom+ffu6zkmLPo0WBrZMk3lqfOONN1x5+mGdOnVc5WOhnbRDfAetfI0YwJTpMZiu2WpE8FKZHtOX8jhRl7X0qh9B27ZtXRlohF0QIACKzNMreKkGba+98qbWrdL22vNDTQgQ2EOz1Ygm6p4KPCDaOUlixsDUNwFrKrQ8SpvHHHOMU2LxwGCjTI+paFNg30eZXuOll17qpIhGIM9CxEkLAvSLZJ5enoUa0C+T6cubGMiS0Hb09UNNCDTPQo0HHBBsp6Pyhum09Z7kWagB42UyfSxiFuLZ1hAXglJmXAhKF3EhMENMhMA0OGNQIfATvFSDNmhT3tT24w8qBIMGDXJyCsOPX4fpqryKCNOguRVRCDCgbAptpaCf1aAYr5PpNXoKAQbsJLWBQY2aEMDVEWsIZJ5aPxVTHugDRhKxEWVaL+JtIdMHpTYQhUEXzVajFgfRVAjgZPPAAw+48tScdzD9KO28iIdJu35BqInLmDFjXHZaawYLjrBWQtpqvOCCC9RrJRlUCLAQSrt2GrWHDkuLpR2OXwN2DZPnqb3RsZpU2uHZ0tyJ4Rovy4e7vszTUwikoR9qQoBIslooJSwGMoFXBBaNGFEubbz44ouuchAwJAhMhQABK4IsxvEC3kxaeUEI91kJhFiXdljAJoHZCWkXlEGFwE/wUozQy/QPPvig823xgHu1TG9KPFtatGYNr732mit9mQlBrGIWaoyFQxGmJGU5iHsXBKZCEIuYhX6WIfuhNk2KTVeknSaiXp6FQRhUCPzELDR1KPJCkJWbeLa0tSsaNIeiuBAYIi4EZowLQXT6uBAIBBUCr+ClGmMhBHDikOUg2EgQ+BnYC+Ko4wUtulNQakIARzRpp23kiXOUdkGJ2RHTJrO2Caqf4KWmnoVe0Bx9TImVhqbQhMDTjwBKaELt4Q4qBBhwQkjxSPpZcaUJAdZmyzyx+YOpOzAGseS5P/roo863YWDABm6dsiyNqCTy2DEeIMvBGn+s/JTpEfvABJs3b3alxfJULd4jHLdk+Rq1IBqgJgRwcpLp8aaUx4RzxLlKW42aFx9iD0g7BISBi7IsSyN2uJJ5YgBQs9UIrz2ZvmPHjqqtRsT7kMdvSgyeYrm2zFPbRVsTAgieTAuq04catLdaUCEw3Z7ai5oQaBGKUJlKexAOIqYNippSCyKCY9QiQJsuQ87IyHCl9aLp4C385fG2lek1IdCAqNYyrZ8IRdp2/HDtlkC907baq4gMEkYf+ztq9yPwMmQnTbHQ5nODCsFnn33msvNDTQjg1y/t8EYsbSFAfzTIHv94g0mgaVuzZk2X7c8//+xYFA08nDKtF01nXLAILIgQaAtncI6mzfiXX37ZlV6bicAbEVGBpG1FJFbYlhRYsKVFSAq8+tBJUyy0ZchBhUDzLPRDTQi04KX169ePiRBggEqWZUpNCDC/roUe1+biNfgRAiw5NgG8EoMIAY5dpvUTvFTzLNTGbBAbAkvDpW1FZJCgLn52OoqJEGA3YpnYSwhq1arlskUsQQk/21NrRNw+CS8hCLJkWAP67UGEAH1kCazKCyIEfroG/fv3d1IVjZkzZ6rptZ2oNSDsnUy7rwtBQUGBc9T+sXz5cmMh8LMb834Y9DIhNumQib2EAA9e5cqVo4glojJPdA2kHSjLATU7eGhJaEKAKL5oisryNXHAdJu004gpME0IEI9OO1ZJjBHIPLHldRAhyMrKUstCPD+ZZ+/evV3l79q1y8kpDHhKoikq80Q8ApleI14AsuzyFgK0cOT5aHEEgxLXXZYD4j7J64R6J4H6Ke2ww5WpEHTr1s1Vtud5Yk96E2LaQibWhAAHD+9AbB0WSSwZlnliNF7awVdflgPCfVXaalNtmhDgAmCUXJavbSWNterSTiPERWsyo3x5nBrxppR5QkC1G2UqBAjcKsvBg4x8ZZ7wNpTlP/XUU05OYaBLJfMEMXot02vUWoflLQR3332363y0Qc2gxDShLAfE8cvrpA3eIjKWtMN4lybsmhAgvoMsu4i4lOqHRtSEwAudOnVypdciFKHiSjsQSmgCTQi8iIjJEo888ohqa0pt9FaDnyg7pkLgBdO1I3CUMYXpIheN5S0EaDJLoKuj2QYhwpZr0O4HVpNKYLGZtPOiJgQaigiaq35oRD9CgCWVMr2f4KWmUy5+hADzpxKaZ6EfasuQNZRV8FI/noUVcaejWAiBFrPQmktXbIPQaxmy5lkYi5iFGrR9Ix2qHxoxLgRuxoWgeMaFYB8WAsQilOkff/xx59sw0AWQdqDp3KsfIdA21AgqBFo8Ag0YMNLSa8T4SBBo/XSNuEemKKvdkDFuIdN7rRQ0XWWp1TtsK67ZBiGuuwaEMJO2CNsn4WfcwnQ6F3VeS89UPzSiJgQYXIK/PoIqRFLbfw8+8NIO4wYYOJGE4ptAEwK8KeBAI/PERhsSmhAgHpxM60VM70jgjS7P86KLLnKV48Vzzz3XlV5zCIIXoLS79dZbrWlW7Vgl4T0q03tRGzyGD77MU3Pn9SMEEEyZ50cffeQ6nhtuuMHadkyWBSGR6bE8V6ZHHAhph2ts2spo3769Kz0GhDVgwxxpizl/eUyoi9LOi1gGLdNrLGJfU/VDI2pCgGk6LWa9KSEYQaAJAUZbTaEJQdB4BL4cOwzZtWtXJ/cwECNAs4Vbqgk0r0w/xJSkBFoz0s6PEGgo4q3morZXgha8FIOfGlB3pK1GCEkQaMFLsSbBFAhiItP7pPqhETUh8PIsNKWfmIUaNCHw41moCUFZLUP2Qyz5ldA8CzHFaRqz0M8GJxq1kW+0hqRdUCHws9MRdqmSMF2GjDqjTb1q9LMMWUNZxSwsguqHRowLgRniQhBtFxcCN/Y6ISjvroHmyXbUUUc53xYPDCTJ9NoiFz+IhRBoTVEvH4zy7Bpo28XBMy4IvJzONJoKgdcApGnXIKgQaPXOjxCY7kVSBNUPjagJAVQUA0SYiioJUcHxZiopMeAl88QAJLZH0+wlEbNQpkeEWWk3cOBAtZWBXWOkLZbSyjwRIEK7phoxXSbTw31UloMAltIOxJoOaasR60lk2muuuUb1ZNOIgUmZJx46mScCmEA0pK2pYGGEX+aJGQ9tsNBUCPDAy+PBMWrLwjVqQgCXcZmnF7VBPE0IEHMC60Rkem2KGDM78jp5ke2jE/uhJgRB4We/OI3Yu14CrpaarUYE15DA9lyaLW60hDZog8FCCT8rBbXdk7R9DbxaU9oIv0aMvEsg7oJma0q4Ikug1ajZatvx+4EWjwAj9BJ+IkaZUhMCPxv6atSEwE9w3w8//NBJVTzYXs/EhLEQAj8xCzVqbrLwTdD24wfh24+uQ4h4q0rgQYy0ARs3bqyudcBIr7TF+gUJjHzjATXhiBEjnFRhYN5ZlqMtbYZDEd4M0laj5uCFeAR4K2rHpVHmiSkrCbz5MY4kbTW/DlPgXuCeyOPRRBT3ONImSFyJEDUh8LMtukZNCLyWIWtE6ABTsL2eiQn3BiFApUB4sxAx2CmBLkCkDYhlyNrqRVRIaasF4cBKMmnnRSwmksBxSjuthQLgc2mrURvAw4pEzdaUWggtiBNaadIW16SkwL3APZF5at03ee20pdJ+uU8LwamnnupkU3rACLdWlinRp5UoKiAqFv/EsW8DC8W0uuGHmhAE9VbEQj0JCJepECCqmCn2w1LJklJTLCgz3sBoUkZSe9vAW1DaoZ+olaW90eFSKu20QKNQUfh9S1vkGbRfGseeD9QB1AVZP7yodSU0IUB91tJrocbgwSjtsJGKfD4gWtqgKLpaMj1iiMj0XtwPTb8glECzC4NW6HtH0itCkbTD1lFaOXiQ5cnDdVbaaQEeAGkHIk8vN9C9ESuXLqVZqak0MyXF+jnb4RyHcyM4jzk/ggscLnS4yOFih0tSUywujeAyLgdc7nAF8++0VFpbUEBbA/gRlDZQB1AXtDqisXPnzq66qAkBoKVv3ry5Kz26qNIOwXzk8wHKtCA8KGV6DFJr6TUahyozBYQADiPyQHFSEjh5aee1hhufS1stQpEfwK10bxYCjGDMSE+nYe+9R+9ffz09Ub8+PcBvk4cPOYQePeRgeoL5JPOZgw+mZ5kvMF88+N/0MrMH8zXmG9wMfYv5zr8PoneZvZgfMD9mfsL8H+f3BfOrgw6kr5m9mX2Y/Zjf85tv4IH/okHMwcwhzJ+Zv3A5f7Y8hZJuvZVmff01bTKcNowVUAe8XIw1aAvovIRAgxYi/osvvnC+DUPzifGiFlsjJjELTQEhCBK81MuzUGsRBN3gBOKyNwrB+g0b6M++fem1yy+jO484nG7ma3U7815WfgjBQ8xH+EF9nPkE82l+YJ9hvsB8kR/Ul5k9mK8x3+Am81vMd/5Vmd5l9mJ+wPyY+Qnzf5Ur0xfMrypXoq+ZvZl9mP2Y33N5P1Q6gAYyf2IOZg5lDjtgfxrOxzOM+QtzTOPGNAtvRGXwtSyAOuD1AtIQi52OYrEMeY8RAi2cOZpNGrSoLnEhiMaWbdtoBLeSHuHu1XV8fW5iduUH/Z5DD6H7uBXwX+ZDzEeYjzmtgaeYaA08x+zGfIlbAd2ZrzJfZ77JrYG3mT357f8e833mh05r4FPm5ywqXzLRGviG+S2zL7M/c4BHi2A481fmbywwv7OI/M7HOYKZct11tFWZko01sNwXLxpTaF0DbRGYFzQhQDdZwk+LQBMC7Cyu2ap00pQa/AiB1jXwuiGYI5a2mkurH+xNQpA2aRI92aYNdeTrciPzdn7A72QBuJtZoYWAOZJbFqO4pfAHH3fypZfSjq3bnLMqG2DvBXjmmeLGG2901UUM7JlCEwItHoG2TsOLWoi8Z555RrVV6aQpNfgRAnitIRpuJOEJBgcYSbiKSlvEF9RsJbH/njZHvTcIwY5du6h39+7UiR/Kq/k638wP+W2HHkq388O/RwkB80/uTozic8h97DHn7MoG8LNA/dTqjka8vWVdNI2pCWhCgKCkshxtnQM2h4HjlSxfm5XD9vPSzovlKgQarKkMkRaE67GEtk+9RkzNaI4le7oQwCnnxWuuoYv5HK/jB++mww6jm1kE9lghYP61//40lrsLq5TBr1jCT/BSbeDbDzQhMCWiG8UCFU4I/MQsxACNZivptQx5TxaCFcuX00OtW9NFfH7XHXow3XjYoXQTC8CeLgRjIAZ8ThmdrrZmPcoKfmIWYql7EAQRAjxbeMZKG3Eh2AOFYM3atfTAOW3pAj63a1kArmPuTUIwls9rAp/P+hkznTOOPeJCUMoIKgReq6u04KWmQoBVaRpwnJqjU0XGjt276YXrr6fz+Lw68cOyVwpB5Uo0hs9v7scfOWcde3jFctCoLQLzgyBCAPdibe1KUKhCgBFMROqJpLauW4MfIcBIpywHm09gvbgkfKwlNCHA+geZFstOZTkgAoagAuxJ6NOzJ7Xj87yKH/ZOhx22VwrBOPzkc8y47LIy6R6gDmCVpKxLXsTgs6xLP/74o5Nb8TAVAixpl3UZz6Y28I1l6fKYNGqzE4AqBGeeeabroDBCbwI/QtCrVy+XHUZPTaEJgTaNg1FhaQea7pVQUZA6aRK15eOGEFzIxCDhpczLmFcyMXWImQP4ENzA7My8hXkrswvzTubdzHuZ9zMfZD7EfJT5OPMp5jPM55jdmC8xuzNfZb7OfJP5NrMnsxfzfebHzE+Z/2N+zvyS+Q3zW2YfZn/m98yBzJ+YpkKA7kHS8U1pm7J6sbRRRKx/Y2qxHLxgKgTaEm4vmO48hWdbgyoEF154oSsDLbiGBj9C4MezUIMmBH6WIWsbnFRUYA1FH34jPHXFFdS9c2d6hfkq87XON9LrzDeYb914I73N7Ml898Yb6D3m+8wPmB9yRf2Y+SnzM+b/mF8wv2R+zfyG+S3zuxuup77M/szvmT9wN2QgcxDzJ+YQ5lDmMOZw5q/M35i/X3+dxZHM0cw/mWOuu47GXnctjeOfE/lYf23SmIbCq9BACMbx/ZlUvRqtnxn7cYLx48e76oZfoi6awlQItEV9XkBIAC0PSTzbGuJCsIdAi32wp2Eedy8H778/DatUqXghYMEYz7ar+CGNNeJC4CEEiNorM+jRo4fzbdHAQIa2TBNunBLor0i7Bg0aON8WDyfWWhS1i4eAFXu6EOwNQN929Fln0lC+9sUJwfjKlWg82634+WcndezgFYrOD7UXkBdM9yBAXEtTaAuZNHoFE9pv5MiRJIkBN5kB3CqlnRZaCtF0EMTykksuiSIGM2R6DOJJO/SLpJ0XMfgh0yMegbRDcEdsjS7PKS4EZY/Up56kwXztTYVg+RCz2aYgwG5Ksh755QcffODkFga8/WRdBLUQ6WglyDy1EHdeQBRkmV7jCy+84KSIBh9D9AH5IZTNFB07dnSl17ZF9/Is1IjIxBLw+tJsNcaFoOyR9+knthDww15k16CwRTDUSbnnwU+EoqBL6oOCj0E/MBN6xYLXgCa7TK8Fy/QT+VVbfahtcOLFuBCUPfI++dhMCCodYAnByoAbwJYn/MQs1JYhlyX4GPQDM6Gf4KWmQuAneGlcCPY8TL29Cw3ha1+RZg1ihX1GCLRtoryAeVaZHrsmS8zkGy/tvIi+v4SfrkFGRoaTKo6ywILRo2noIQfTMH7bFycElh9Bs2a0ffNmJ/Weh7lz56r1TiPC7pUn+Bj0A5OEa2PVqlWjePHFFzvZhOEVVvqqq65y5YlgDtLOT0RZbI8t0+OCSrsDDjjAdezghAkT1DUIcZQutmzcRHlffkk/V6litQZMPQuzb77ZySG2QB3wCgWv1WVTInyYrItexMY6Wh6SXmH0NWAGT8tDIx+DfmCSGJXEstdIaht8bNu2zYoyFLmBBKhN3yEaq7Q74ogjXHZexB6LMv2hhx7qsoO3ImIfyONv1aqVNYpb2sA68KSEBBrALZZXn32Gnrn/Pnrk9tvp/htvpHu5i/QA/3yS/37h3nstdrv3HnqR+dI999DLzO7MV5g9mK8yX7/nbotvMt+6+256m9mT+S7zPWYv5vvMD5gfMj9mfnr3XfQZ83/Mz5lf3HUXfcX8mvkN81vmd8w+zH7M/swBzB/u6kqDmD8xBzOHsFgPZQ5jDmf+yvyN+TvzD+Yo5mjmn13vpL+YY5jjmBOYkzi/iXyev7RoQT/wfTD1LBzLLQYIwZKhZTNQiDqgedxBIDAgLuuYKYPWZY14tvCMmQAu9FoeGvkY9AOTxJ6AJoBDEcKMa3mUFxt4+CYgKg2i0wTFrt27KYFbMq+99BJ1uuACOr1xY2p42GF0TOVKVJvLP5pZj9mQ2Zh5nMOmzOOZzZgnMk9mtmSeymzFPIN5FvM/zDZMuBe3Z3ZgYuUhliBrLsbXMq9nShfjO5h3MTUX48eYXi7GPZheLsYfMYtzMYYIDP5XJeO1BhCBKY0a0bZ1650rHFugDiAClgSEoE6dOmqdKi/i2cIzZgJfEYqUD1QG9SwsT8ZqGTKak198+ild0q4dHcsPfhUuqxZ3Q+pxN6ox/930iMPphCOPoGbME/ntcBLzZGZL5qnMVszTmWey3dnM1ocfTucw2zLPZXZgns+88PDD6GLmJZzn5cwrmB2Ze+WiIxbPP/k6zv3EvcV6rIA6gLoggTpjui16WRHPlqkQ+Apeqnyg0lQI0GypaEKAfRY0IUB8xJIKwbdff01ncpP3SM6/Gj/8EIKGRx5JjZhNmMcxj2cBiAuBPyEYzdcz4eyzaadh87c0gDqgxcqEJyTqjlanyovlLgSIiGoKhFPS8igveoUqw9jBzz5dWLFuofM119BhnG/VypWpHj/w9ZkNmHEhCCYEEIGxRx1JqzOznKtdNkAd8Oo+VrRurh8hwHb+Wh4qsQTThBh4wIKF4nj++eerWzK9xP1nLV9TmopLhw4dXGmxC4w20ooZCgwimiIxIZFOPr4p/ZvLqcsP8LH8sMeFoHSEABGMR7P9YmVNSqyBOgAvVVmXMSuGwDWyPqGOaXVPEnVWpvVDPDMyTz9CgH1EZZ5vv/22K0+LTppigQ0V1QwM+ccffzg5lQym662xECkWSEtNpUbHHE2H7s83o8pRdDQ/6HEhKB0hwJ4Go/k6LCzHaFFeHq2rVq1yLMLQFrtp9LN7kgY8MzJPP0KgAfsfyDwtOt8XC2yxrGZgSNNQZV5AH07LV9LPKjBTYDrw1BYt6BAWgbosAnW5+RoXguBC8CvfL+x4NK7FSbRCictfloCXqaxLmPLWwpRrOx1p1MYd/ADPjMwzqBCgVSDztOh8Xyz2ZSG47eab6V+cd20WgDrMuBAEEwJsefYzX89f+fv0hx+mzcpbt6wRFwJD7ClC4GfHGRNgw5XDuaJX5wcyLgQlF4Kf/lXZcij6kTmM00299lpaNnmyc5XLH1rw0r1RCKZMmeLK0yIGDyTnzZvnJAsjFkKQnp7uKttrP0NTIWjZsqUrz6KobZwSAqaPLujQgQ7ifGvyg12LH+jazDpMDBYewzyWWY9Zn9mA2ZDZmNmECT+C45knMJvzA92CeRLzFGZL5mnMVswz+CE/i/kffrDbMM9htmO2Z57HvIAf8ouYF/MDfhnzciaCl17NvIYf8muZNzA78wN+E/NWZhd+wO9g3sW8m3kvP+T3Mx9kPsx8lB/yJ5hPMp/hB/1Z5gvMl/gh7c58lfk6801+yN9m9uQH+z3m+8wPmZ8wP2V+zg/7l8yv+WH/hvktsy+zHz/4iFUIhpyKfjvhBEp+5BFaXsablxQH1IGHuWUi61KshAB1XNZDPAsSfoSgf//+rjw1vv7661aAYEnOO7ogUAvXHAsh0IKXwpNLg6kQ+CWaSl4Y+ccfVIltDj7gADqMK8XhXLmPYB7JPKpyZWv6sBqzOrMGsyazFrMOsy4TnoXHMusxG1SqRI2YjZnHMZsyT2A2q3QAtai0P53MzeWW++9PpzFbMc9gnsX8D7PN/vtRO+a5fCwIY34+E16FlzDhVXg58yomvAqvYcKrEPsfYhNUeBXexsRuyJHBS//LhFfhw0x4FcrgpS8yX2a+wpTBS99lwqvwA6ZX8FJ4FQ6qUYN+O/MMSnjsMZozdCht9vDnL294NZdjJQSatyKeBQk/QmA6mN6mTRsnRTT4O7ex9nDEQgj8xCyMlRAgXp0X0Iz6nI+xz3ffUZ9vv41i3wj2E+zv8PsIDnD4g8OBERzk8EfmTw4HOxzCHBrBn5nDmMMd/vJtb4u/gb170wjm7w7/YI5kjnI4mvkn8y/mGOZY5jjmeIcTHU5iTmZOYU5lTmMmMBOZScxkZorDNGY6M6P3Nza//ppy+nxHC/76i9bwQ7Rz1y7nalZceMUsjJUQaDELtWXIfoQgcMxCaQjGhSCOfQlxIfAQAm3OPxZC8OGHH7rsvDy84kIQR6wwZswYtW54CcHVV1+t2kt6CQHquLTFsyChCYHXJqjYPVnaavQUgjPOOIMkExMTna/D0IQA0YplWgQrOfDAA122mhDAa0umR5BUDZoQYNtomR6ryKRdUYwLQRypqanW8l5ZN7yEACtxZb3TtjD3EgLUcZle23pPEwK4PMNTNjk5OYoI/CPz1MYiPIXA+VksNCHQBh7gyqu5A2tC4AeaEGgRirSLVxTjQhAHgEjGsm54CYEG1EWZ3ksITOGnLkMMJCBY0i4mQqDFLEQ4c/RjpG0shKB3797Ot2EMHDjQZVcU40IQB5CWluaqG36EAHVRpi9LIdC2FkDocmlXZkKAgYyyEoKgwUvBuBDEAfjxLNSAuijTl6UQYA2BhLYMudyFwO9yXwkEjpB5xoUgjtKClxAsXrzYsSgaWL0o02vBTvwAz4zM04uIjyihCQFWB2vYD+v0JbUlu0GFAE12rSxTNm3a1JXn3i4E6dzcG9avH/3x44+FHMkc5XC0wz+ZfzHHOBzLHOdwPHOCw4nMSczJFgfRFOZU5rRBNhOYicwkZjIzhZnqMI2Z7jDTYRYzm5nDzHWYx8xnFjCnR3AmcxZztsM5zLnMeQ7nO1zAXOhwEXOxwyXMpcxlEVzucAXzb4crI7gqRL6GqwcMoF2bNjlX1g0vIcBSXq0+Smrb96HOaram9NPNnTRpkis9hADnEEksrZZ24H4IxSSJTCWCCgFGO7WyTImTkHnu7UIw6KuvqAUfY+sD9qe2BxxA7ZgdmOcxL2RezLyUv7uceRXz6v33p07M65g37L8fdWbewryNWdy26EFiFn7C9IpZ2I8JF2Nsiz6IifUGiGSMRUfDmL8wf2P+zhzJRHCSv5iIW4i9DbDJyQTmJOZU5jRmAjORmcxMYaYy05kZzExmFjObmcPMZeYx/+7Vi/4pwrlJE4L9+Tpi4Furj5LVqlVzpUed1WxN6ScoSu3atV3p4U6Mrk0kMTsh7UDOw52pFtk3qBDEgnu7EKxZvYaua3YCi8D+pbbW4CHmI8zHnHUGTzGxzuA5ZrdAaw0q0zfMb5l9mf2ZAypXpoGVK9Eg5mDmEObPzOHMX5m/VapEvzNHVjqARjH/RPRiprXLEXMicxKL3WTmVL4GCcxEZhIzmZnKTGOmMzOZWcxsfnhzWPhy+feQCKz8uPj4h5oQ7OnEMysxbtw41Zbp/tDUszAuBLHHT4iNyMd50WGH7NURiiKjGGNfg/HMicxJLCaTmVNZOBKYicwkZjIzlZnGTGdmMrOY2SwsOSwgaA3kcd4rDTcO2VeEwGtdBdP9YVwIKg6279xJT193LZ3NxxoXAgMh4NYDugb51avTGh8D1HEhUD78/fffnWRhaPHTTjnlFOfbaCAoqLSNBTGYIoGItJqtFzXRq2hYuXIl3X3OOdSajxddg7gQ6EKA8QFwxumn08bMTOfqmWFvFAKEF5SAv4Fmu9/3339PkkuXLnWShYHNSaXdp59+SrfccksUO3fubO3aIgt65JFHXOn9UHOXxG7Msnx4O0o7RDHu27evmu/y5cudM6zYWPn33/T4FVfQOXw+l/DDExeCCCHAOAFfF4jAwgcfpB3KDlzFQROCStzNwBoAWWfQEpa2foi4ADJPTOtJO+y+JO0++eQTdeC8e/fuLtuXX37Z9Xycd955rrQWnetQImhumV4cNWqUk6pk0HzBTQk/8L0B6CZ8x5XoqmrVrJgEV/KDtk8LAQsAZgzAAm4FrBld8jqmCQEeuPXr3bstIQqWtPVDzTcBWwpKu5uVvR83b95MB/N9krYIviqBLQiknSedNCWCZ0RUhbHwLDQlpkcwV7q3YPb06fTOvffSdTVrWAFKrmBexw8eZg32eiHghx9Th6Hpw5wWLWjZ118H3hDFSwg0z0LTZcheROta4r///a/L7rrrrnO+DQMigg2Jpa2pZ6EnnTQlQlwIyhfzZ8+mQR98QE9xs/KmGtWtCEXY//A6JvY9vJkZGZ0oct/DB5iITvQIE9GJnmCGfAheYEb6ELzGfIP5FhM+BO8xEZ3oQyZ8CD5jwofgC+ZXzN7M75jwIUCosgFM+BAgXuFg5lAmfAgQwRiRjBHOPORHgO3O4EOAbdFDPgQTmZOZU5jwI0jhcy24phP9/dNPtKOUtk2PC0EAeMWC1xhUCIJsRnnUUUc5ueyd2PnPPzR/1iwaxw/GD2+8QT25L/jCOW3opXZtqTvzFWaPtm3pNeabzLeY7zDfZb7H/MDhx8xP2p5DnzG/YH7J/Pqcc6g381vOrw+zL7M/8wfmQOaPbdrQYOZQh8OYvzB/Y/7OHNmmtcU/mX8xxzLHMScwJ7ZuTZOZU1v/h6YxE5hJzGRmCjONmc798Qy2yevShea/+Qat+Pln2rxoEZltDG6OgoICte7MnTvXsQgjqBBocTLv5RaetIMXoISXEGhdA2xKJO08ieWTJaW2zNGLmhBM5yaulq9GKCY2ligJ77vvPssXXMt32bJlztHsXYAPXVlzt/i9NBlLLFy4kN5//31Xvenatau6wYmpEBx55JGuPMHPPvvMVQ+xUlDaYTBewksI8CzKPK+44gqXXRFUPyx1akKAi6/ZasQmIyXFmjVr1DzBPWH6MI7YAm63XpF/NJgKAQa4NWgbq2Ktggm8hKAUqH5Y6tSEQItZ6EW0HkoK9PO0KRewojsUxRF7eG2L7gVTIfBahmwas1BDXAjiQhBHjBAXAovqh6VOXGyJL774QrXVmJ+f76TyD2zYouUJInBlHESz09JoWt++lNCvH83PKp1tyRHKfNHEiTT9229p1sCBtEYZeKsI+OWXXzyb8RquueYatS5Jem2C2qRJE5ctngUTxEwIGjVqRJKawwJG3qWdnzUFGPiYM2dOFOG1JfP0IuwlsJ21zHPFihXOt2Hg4kGdtXy1QK37ElYtW0Zfde5MT3PlepLv09PMlw45hH7o2pXWr13rWPnH8uxs+q1tW/r+gAMKdzoaWqUKZfR4hXbtjvXwnz9gQx8EvZV1CcRuVxKPPvqoqx5pS4bxuZYnvPtkejwL0k7zevUSAjyLMk88s9IOz7a0A/fbxaotecEFF7gywLZI0g7RVKWdFw/gCgGXzUg+8MADrjy9qOGee+5x5Qk3Sg1anqAWhGVfwYZ166jnOedYMQme4a5TaBnyS5UrWf4E31xyCW3b6n+fvZUzZ9IPXDERj+CHSgfQoH9VpsFMxCKAP0EqP0gV6aqje4jYA7Iu4YHT/Ah2s5DJevTVV1+p9V7mCWazSMr0eBakHSITS3gJAZ5FmaezlVkU8WxLO1D1I7joootcGXTr1s35NgyER5J2fnj//fc7OZUMd955pytP7eLFoePnV1+1tj6z4hFIz8J/H2g5Fk385BPH2gx414+64XorOInmWTj0gP2twCSLKlCXDEIg6xEIcdCEQMO33P3R8tAInwUJPAvSrlOnTs63YXgJgRaqDM+stMOzrUEVAgQ4lBnAS0nCj2ehRvgGBMFdd93lyhMDOXEUDywXf+2Uk63oRF4uxvAs/LJdW9rBbwxT/D17NvWrchT13V8XArgYw7sw9f77nBTlDy8h8PIs1IAl8VoeGsvTs9BX8NKyEgI0h4IADh8yT6x+jKN4LOUK/lyd2vRE5QM8haAHv7171a1L65RxFy/MHjbMag304wfeSwjgYjyB69iuCtIt8xICNM/hbGQCP0KgDXzjWZB2119/vfNtGFgZrG0gpAmBtugIXQMN5SoEDz74oJNTyaCtAvPaKSmOaCyZN4+eNRCC92rXprU+vC9nDR5MX/N9KE4Ixp9/nuUaXRHgJQQg3sAm0PY18OKMGTOcVGHgWZB2WjcXA4gQKGk7depUxyKMZ555xmWHgUoN5SoEGGnFnm2R1JpDXkCzDRtTRPLzzz935Xn55Zero7+YBpo4caLz176FzZs20SsnHE+PcRO+qK7B/84809q0xhTL8nKpz2GHUj8WkaK6Bsl33umkKH8gEE+DBg1cdQm7B+FZkPVJI+JtyPRe4cgxrSjTa7MOGPWXdniQMdMly9qkRGiGN66069+/vytPsFyFQCNuSBD89NNPrjwRmERbfYhISkH3W9iTMeDJJ+zBQk0I/n2QNVg4+o03HGszYGpwxMUXWSsQVSGodIAlBPOHD3dSlD+K8iMwjSSM1qnEokWLVNsgrFKlipN7yTBhwgQ13wonBF7boptCi1notQwZ3mSao9O+gpXc33ylxYnWcuRnDzrInj48+CB6+aAD6Xn+7NMzzqCNJfAlWMJvnr6HH059OY+B/6pcOH04mFsJmD6cetutFcqXwMuzEHXGCfVdLDFwLQFvWM02COEvgIHeksIzZqHzfRTiQrDvYCFX1vfPP9/a1yDkUAQfgq8vv4z+Nhwx1zBv7Fgawm9ZiAFiEsCh6Mf996eE/95PWzdudKwqBuJCwHS+jwJipUlDjEBK+AlVZko014NAEwJ4TmmA6KBZuK9jG1f49BEj6I/33qNRvd6j7FGjSmUgb9Pq1TRj0CBKffttyv74Y1qqDGhVBJSGEHTp0sVJFQZG+DXbIDz00EOd3EuGKVOmqPmqQjB06FBriXAkX3nlFSuuWiThuSTtvIiIx7JwBBqVdu+8846rHC9q7sGaEBxxxBHWYI5MX7VqVRo9erSTMo59FX6F4LbbbnPV29dee81Vv55++mmXXVC+++679MQTT7jKwnoaCbhOSzu07LV8VSHQgNDI8oKcdNJJzrfFA66/Mj1OSALzttLOi1rgBr/7GuyrswZxhOFXCPCASSBKtrRDVK3SBmYHZDmgVo/x8pN2ePlqMBYC0w1OvIBpQZle8yyE15W082JpbHCyry86isMeSdeWDHsJAeqYhOZQ5LUMOQjK1LNQw94qBPDewoKRELEgRAKtlEibohgkkhJ8HRCPXstXUnMgQVgtzVaj5tSCzzRbU2qusxURuMeRx/3QQw+prdu4ECj44IMPXJm2bdvW+bZ4XHXVVa70CNgo4adrgNhvEojVptma8r333nNyCuOvv/5SbTUG7WpoeWrUXKn9LAKDY4mEH+84jQiWuSfgjTfecB2712wVxpGkrRZkR6t3segabNy4UQ0TkJOT41iEobkYez2zqhCgQsHbKpIIpigzRb9K2nnx4YcfpssuuyyKcIGUdl5Ri84991xXem2gD808adehQwdrJZmWrySmgeQxYaBU2sHfGyu5ZFl4w8j0phw+fLjVcpJ5aoQHpQQi7mq22s5TGDiS5ffq1cuVtn379q604DnnnOOyDToVi7eaPKZYEEIgjx0OQdLut99+s1zWpS1iB0hbDOJJO+1F5wU8yDJPjf369VPXGuAFJm2xTaE8JgTylXagKgStW7d2FRSUqOQSCNio2Wo09fnWsHr1as9QZSUlPM40BL12UPzSRtOmTdWyJLVYDvBtRywJaTt79mzHovRw6qmnusqJBbVBaq8uKfadlEB3UtppnoV+EHT3JI3a3odosWq2qhBogUmCMmjMQq1PawrEkS9tIYDb8gZljz20PjR7E+LNXdp7MSLwihYaSyNafRJ44DUhgA9JaUPbtzIWfPLJJ50Sw9A2OKlcubK6B4EWs1BzKPIDbRlyUPraDdn5PgqaZ2FQVtTgpSUlhEDbFy+IEMBZpLT3WUA0nSBCMGvWLFUIMn3uNmwCdDdkObGgqRB4xSPYZ4TAq18YhHBSkkA/V7PVGEQI4OFV2kIAJyXN1bNdu3aqvQnxBtJ2og6CoEIwc+ZM1TYWMwTY3Vorq7SJmIMSWGmo2WqOOpoQ+BkP0KBFKApKODlJYDNizVYVgmuvvZaqVatWqsS0GKa3IoktnqWdFnARNBWCbdu2ucrJyMgIJAQYnJHHiYcLbwtZFgZkpK0p4V6tBV8NgqBCgAFIjIfIY4Wrqjx3Ux94HBPGbWR6DL7KcrQRctxLaeeH2C5cAnVE2tWuXVsNTKIJwa233uo6Hz/EFKYsPygx0yeB2AuarSoE8F5at25dqRIXD1tARRInL+0SEhJcFxk0FQJ0QWQ5eHtreZoSFVQeJx4Q7I4jy/rjjz9ctn5Y2sFUgwoB0mvHCR8See6mu/VgHKRu3bqu9JimleXATVceJ6bApJ0faoKFAJ6aLc5fQhMCvCzk+fghXopa+UGIl6IEfFU0W1UIYgEtFrwWvBSDgtIONBUCtDy09EGIPeQkcPE0x46K5rIcVAi8oG3Sob2BNHh11TSnGG3q9vzzz3e+LR9oQhCU2nRwWaLMhCCoZ6GpEPj1LDQhmvsSmFbSWhrjxo1zLCoGYiUE2iKyjz/+2Pm2aGBAFAOjMj1CcktgLlzaYUC2PBELITDd6ShWqHBC4LXVuun0YVkJAfp1hx9+uMu2ogkBuhrYvEMep0Y/QnDyySe70gcVAow7SOwrQrDPtAjgEitPHqujJLy2J0PYJxPEQgg0/+wtW7ao02paZS5vmO5IdffddzspiofWytBWg2rwEgLE1JPAyLe084rEW1ZA7AF5TEGJfRHKE/uhkktqN8QUCHQJxZR51qpVy3XyGGyTdhiEknYgPPak7ciRI51SwwgqBJgGwlxrJLEvnSwbayewHFXaYj5Z2saC2kOHbbKkHQY6EcdRHie+k+eOATyZHq0EbQATg7oyT8SnkOm7d+/upAjDSwjOOOMMV3prOy5hB/9/adexY0dr3EYCm3xIW21QEy1OaedFzCbIYwpKuOvLcrS1G+iSIhivtEVLWgJrR6SdF/kY3AeFke+SAm9KrckcC2r9qqBCoC1kwkap0g6jxBq8hKy0qb29IeCareakhO3iNFvJmjVrqiPnGrSQ3KhkEl5CEJTYC1MCa1SknbafBpajS7vy5qWXXuocXRhei/ImTZrkWISB9SSarQfdH0LdSwpMzfjZHDUIS2MZsqS2+tBalCHsYuFZ6IdYxCUBbz9ph+4LvAMl8KaXthrRBTAVAhyTTH/11Vc734YRCyHAwK22LgDjO9LW1LOwvIlxNYmgy5CLoPvDuBBEIy4EcSEoD5a7EGihmPwAHnJavqVNhIeSGDJkiGprSlMhQJNZA/rk0jYWxAawEl5CAC8+CSxHlbYa/QTX0HbW0YQAwVukXVB6CYG2kAlNZglsTCrtypuoSxIxEwIM8EjCv1wCg0Nvv/12sXz99dfV+XUM5mhlBSEGU2T5+EzawXFJG+HXaCoEeKP16NHDVb7pVB0GSuVxooJqb0rsiitttejLmhAgDgO88+RxtmrVymWrEe6nWM4q02vUlmBrQoBVmy+++KLrnHBNZHpTegkBRuNlORjAlMeOGAXSzg/Rn9eOSyMGlLU8JLXgMTETAidNscCNUzMwZCyiBWvTOFgnIYE1/qZrDUyFICi95sIxci9tx44d63xbNDQhKG9qQuCFIN0qLyHQYEXtFem14KV+8OOPP7ry9GKQhWXlLgRazEI/1JYhBwWUVZaDqUsJP8uQy0oIsORWAms8tKmpYcOGORZFY08XgiDLkP0IAe6xTH/66ac735YMWsxCLwZZuRkXAgVxIYhGXAjiQhCJmAiBtvjDD2MhBNpeCdqe8phflnZeRNw+CT/BS02JHWgl0IU57LDDXLam1w6zAzJteVMb+fYCHIq0PEyIsRDNj0ADVvrJ9EGFwM9iNy3GgSnWrl2r5qk5AWrBSz2JgAyS2rTYd999Z92o4ogLqgVX1Coz1t5r5WvUlo5iYFKWj/ULMi2CMSDohbTViIExmd703P0QDj0ScMa65JJLXLYIyCqBpbzyOAcMGOC67iDWBcg8Mf0p7fCZtPNDzXsUDj3yOL0IN3QtXxMimA4eEgl4DMpyEJhEHqcmBPCoRCtLptcID0aZpxcHDRqk5mFCTO1jUFaeP8YopC3G9aQdZoG0Y2K6P8SDU1Lg4mmjv5oQaMrsRUzvmAAXWabFAJwpENhSpr/44oudbysOtPDyGjFbosXd69q1q8sWnwXBY4895srTDzEzVdpw3GeLpSYE2NcAIck1+/IigsRoLt94yKWtFqoMgUmknUP3h0FG+LHWQHMo0oQA7rzSzoumy5AHDhzoSluvXj0r8IQJ4Gwi02uunuWNjz76yHWcGiEEWIMgoUXNDRqJV9tiyw9jsWDLdFrPSwjKyifGlBAmPGMSWpg3TQiK6Oa6P4yFZ6EmBLEIXqp5FmK3GtxUE2hCoC1DLm9gya88To1+PAv9LEPWoHkW+qEWjyAoNM9CjV5CoO10VJ7Es6V1k7U1Lr6ClyofBGoRIBSSNvINjz8JP8FLtcqsIRZCUBG7Blh9KI/TiwirJgHPRGmneSv6gdb39sPyFALsqSCBOlNW7vKmxLOFZ0zirLPOctlqQqAtoLOIaTVJNB8k0LTGhSmO8BrDgyfzxGCGtEXXQNp5EVMuMr3mA+9HCHBBZZ5PPfWUq2wsOdYg0/qhdjMBzVajNkaAkXN57AcddJA1viLTY2tvmR6fSTs/1FYf+qEmBFq987p2GjQhQCtJXic0rSVQFtZaSFvNS1XLE1GppZ0XK1Wq5EqvEXUZz5i8Jph6lbYQAmmH8T9pB+6HOXZJremBhxYHURyPO+44awGHzBPNTmmLN4i08yICVsr0GBiU8CMEV155pSvPd955x1W2FlkY/vstWrRwpTelNq22efNmq4mq2UtWVfbka9asmevY0RqAv71Mr01T4jNp54dBl59rQoDpXFmOtu+jFzQhwIyNvE6atx8G5RAQR9pq+3hiazRpB49QaedFzIDJ9BrxbOEZk9cEvi7SFjMZ0g6et9IONPYjgA+/dgIaNccO+MtLOyx8MUWDBg1c6REwRMKPEOBBlraaH4EGzFlbSirSmxKjvBJwKEJEW83ehFrzFqhoA15e1IRAmwvH9JkpNCGAH38QIHS5zFOry9YDJuy8qK2k1YBnS0sPgZDQHIq8XNtL3bMQXk/wfpIwjVnoBW3+03QZspcQ4O0rbTXPQg24IdriKlP68Sw0JQKKSvgJXlre1IQgaMxCTQi0Zch+oMUs1HY6wgC3tPOiafDSoJ6FWqAYIC4EwjYuBOXHuBAUj3IXAnjcyUy9qO0OowkBHFBMoT0gWlgxTQgaNmzofBsNbe7VVAggLDKtH8ITToO2+tCUeOA1FOFNVqGobayqCYE2sOcFjC3J9Fo8Aj/Qpl618Gd+4i5osTU0YKBQSw8PSAmtOw9h1KAKAd7+UL1IYpsoPGTFEbMDcJWV0IQAgx6yHKyd14C96mVZ2tbc+FyWgzX+GMyRZWkDbpoQYDssmRaVAXvVy2PSqG2jDQ8xmSfsNLXXiClNWQ7GTGSeoDaIhxgNMr22/x7chuFHL2014phkej9EdGJ57FjjIsuBD4W0g1ektjs13LNlekRGlun9EC1MeeyIQyHtMCgpywY1z1u0TmV6jZjiRZwCmSeESNo2b97cVQ5eqNIOVIVAm5PEoE0QaEKgEfO2QYCLouVrSk0Ihg8f7rLD1JApkKdMH5SaYEIYNVuNml+HFt0JrQlTaNuTBaUWyddrWzzTRUdaPIJY0Mu1XdsTwpSY2dGgbTjji04+UdD8s9HfCAJTIcBWWkEQCyHQliF7xSzU4GfGxZSmMQu92KdPHydVGPhM2gWNWRiUmhBgExlpF3QZcizoJaLadnGm9ONZ6ItOPlGIC0E04kIQF4KScK8UAu2G+IFp/zFo1wBLhrV8TYlmowRGs6VdeQuBNjgVtGugLWNGzEJTIdBWNAalJsza/g0VUQiwQEgDFsFp9iaET4iGIN0Ni04+UdCEALurIBBkccToJzzkJDDCj4GO4og11EGAjSpknhiE09xC4VkobfHQynPSltcGFQIMwsmy/RBeY/I4saxb2mFFoTbNiekumR4zQzI9nG+0Za8aMKgo02uEZ6Cp+y0c0eRxatGSgwoB7qd2rEEIsZbHDsIVW9oiZqI8Jo1VqlSxdmqSecJLV+bph8ZC4Ifa9GF5Ag+s5gWoRWs23R0mqBD4mQvXoC3hxsi1BtPpw5tvvtlJEVtg337NxTkIgwqBnylJU3hNH2rxIXzuSuSiNvXqB6UuBF4OReUJuHpqQqC5ZWqrDzUGFQLNocgPtGXIQR2Kgi5DNkVZbnCiQRMCbRlyUHg5FGkxC+Fcp9maUnMo8oO4EAjEhSD2iAvBHiIEiJunFWZK0y3MywpeW60nJSU5FmGYjnzDIch0OWwshEAL8+YVmx+OW9JWo+YmGwvEQggw5mDqR6CJ6Jlnnul8W3pAF0CWA2oRo4LOuKSmpjo5lQz7IeCHpLZNlEa8/fG2iSSmRhBY0wTYxlorX6O2VsAUaKHgIZHHmp2d7ViEgQEzaafFrcOgDTwO5XFqXpWmQoC3N0RL5qkRqyTlcWKLLGmH4J2aJ5zGa665xpXeD7VtyTV4CQFmjOQ5mbJly5a0Zs0ap4QwsLxYHqe2ovGkk05y2WEWRhN71G9pq9ErGhB2G5e2GJ/RbCUheBgLkuf/66+/uvLUiHELDfthNF0SAS60g5DEAAsqr6QpEKFIK1+jaagyL5geJ0bIpR3cm7Xz144TwSElTIUAi47gjablK4k3iDxOCJNmK8v2Iu67lt6UaKWYwEsIJk6c6DonP9RwxRVXuI7Tq35LOwR1QbdSAg+ttPWiSTmg6TMHscSsnDx3LM3W8pX0irbFeesFmtDPunANfsJtmUYxjgUQ1UU7Jo3a9mR+hABdDmmr8aGHHnJShYEWjmZbVvzwww+dIykaXkIQtJ+rIcj6BzycmhBg3YpmXxaEEGitFG1ZgMbzzjvPSREN/k5PYEJ4MwVBLIKXxgJ+djqC15uEHyEwXYYc1LMwFkTf2wReQqAtQw4KbRmyKTHArAmBtUhHsS8LBvUsxESABv5OT2BCqFAQaHPhXtTm/MsKfoQgaItgTxaCoF2DWAhBkIFvxBGsiC0CTQhMWwTnn3++kyIa/J2ewIRauC0/8NM1wEBHeSEuBGbU4kNoKEshCLo0Wtue7IYbblBty4JeQqBtcKLRM1QZBphKyqBvacz7avlqxEYVGBmOpLY56MiRI112SOsn8q2EJgRHHXWUVXHlcWL/QonyFAIMEGFEWR6nKZEWech8NWKdvbz2WhCQoEKA7bxkObie2pZnmKqT56R58WHtvrTD9dQ2E0ErQdoiXofME3E2pZ0fvvvuu648vYQAz6KWh6QWwwNQ/QgqIrSFGph1kECwEGkH558g04+aEGBQz2ukWqK8hSDIfvxIayoEGrVR6qBCoO3Wg2MMsglq0G6utgkqokoHgTZb5SUEQbHHCIHmLx80ZqEpNCGIhWdhrIQgSLcKaYMIgbYtelAhiMUy5KCehdq26H6CumjA7mAyz7gQxIUginEhiE4bF4Jg2GOEQJtfx2CjhCYEjRo1cr4tGTAWIfPEw2EKzZPNaw8C0+ClWjwCzaW1vIUAI+wSEGVt9WFOTo5jUTSwJZ9MC2ob0WiIxerDshICr3gEQbEfBk4qErHTkAZEz0HQkEhqFUcTArwtsFOvLMt0uTR2C5JlozJhC3WZp/bQIUaCTA9XZpkWTkLamxIBP2R6tDJkem3jDS8hwHWS6fGZRFAhgDusLOfee+9VF4FhNF7aavtw4r7J64EZC829W4MmBIgPIcvGAjTNbVmDHyFAHZdlaTtBa0IAAUVrUKbXZjc0wB9HpgU57+iCypteAR9NoQmBF4Psx4+BQi1P0w1k09PT1fQatSlJUx8MLyHAugJpi88kggpBUAYNmqtBEwIvaguENPgRAq3Vp+2wpQmBF+GebYIRI0ao6Znqh+XGsoxZqC1DNgX6o2hpyDw1z0IN6A/LtF7Upkm1FXQavYRAi82vLUMubyFAy6e0YSoEXp6FGvwIgRazUNvgxI8QmLpn+9oWvTwZFwI340JQuogLgZqH+mG5MagQ+Ll4QYQAc9ZanqY3RBvh9yJmLSS0iqfRSwi0qNL4TGJvFALsPKyVJQkh0JyUNGgvIC8h0DalxTb3En7q8qRJk5xURQN2Wnqm+0MEacBijVhT243YjxBgtR0ekkhiBZwsB26V2jLPIEKAqUM8OLKsr776ynVMGnv27Ok6Hvi2wxdc5gkHGJkeu+/K9Bq9hAADbLIcfCZRlkKAhTPymHr06OE6dz/UZhKGDh3qKkeLwYG1/4iKreUrieChMr2XECAakSwfeUhoQoAYIFg/IdNrq3MxMCiPE7thybQg5x1dEDh16lQnq9hCCz3uRwi0YA6IWCyxevVqdZQ6iBB4AUuzZTmmxIgwfAkkEEFaszehlxCYoiyFAAOoEtreh374yy+/ODkVDTxIWvog9BICU2hC4Gf60JkNiGK7du2cb6PB30UbgnDhLAtoy5D9CAFCa8n0WCIqgfn1shICtD5kOabE1KEW3QlOOZq9CfckIdCm0IIKgfam1YBQX1r6IIyFEMChCFGgTeBrN2RpCGJAoSxQVkKAAZ89RQjgdSexrwiB5llYVkKAuqClD8JYCYGpZ+E+IwRwTJHp/QhB0FjwGtD0kuWYEseIboyENudvSjzEWhx9UyBtWQkBHK8kggoBokuZAHVBSx+EXsFkTaFtvhtUCHxFKNKEAF5bq1atKjG15Zx+hACjtzJPzZPOjxCMGTPGladGbU0BHIrw0EpbDLxgm7CSEP0/9FW1POWxmxIPMd52Mk9TIq0mBFiGLY9f29L9wAMPdNkh8Ks2eAtnF1k+hECm90MMDMo8NaIuyOMJSgQV1coyJXYwknl6CQECx8r0L7zwgut6XHXVVS47kPOOLgjUhACeT0ceeWSJCXWT8CMEWBQi80Qlk+n9CAEG52SeGrUBSFw8PLjSFhFqcVNKQiz5Rehxmad27H54+OGHu/I0JdJqeaIZL49fa6FhoFPaIbLyIYcc4rLV7gemD2V6P0S3SuapUVv7EJQQUK0sU2rXyEsI0OSX6d944w3X9cDSZmkHct7RBYGaELz22msuOz/88ccfnZzC8CMEWDgkbTX6EQJTIky4BByKtDegqaunBizGgWrLPCsi8/LynKMOQ9sjUnNbRktKW1OhMagfQdAIRRWNXkKAF6W0ffPNN51vw4C7urRz6P5QEwJkqtmaEgMfEn6EAAMv0lZjLIQATXOJoJ6FGvwsQy5vwiFKAothpJ2fZcgagwpBkG5VRaSXEGjBSzUhwLMt7Ry6P9zbhMBr+tCUmhCga6AJgbavgSn2JCHQBlo1IejYsaPzbRhxISg5vYQAy6il7T4tBFp/Hm/vIEKAARYJ3AynbxVFbeTbFHuSEGjh5bHdt7TzE6pMY9Bt8vcVIcC+l9L2lVdecb4NY68UAsQDwLFG8qOPPrIGTiKJaEDaKDUCm8j0mg8+ohHJPM8991x1j/9WrVq5bBFLwQR+hABNbnnscB/VbDU+/fTTrvT4TNphySyWVktbeHXK83z77bdddloXwksI4OIs05suA/aCJgS4x7IcLaI27i9iEUpbjaiLMn0s6CUECOgqjwlxNCTwuZYv0/0hjCUqohBogTRQjrTzovZWw5SLZhuEeMBM4EcInnrqKSdVGHhoNFuNP/30k5MqDHwm7Zo2bep8Gw1tY1UtYpQGLyFAlN3ShiYEuMcSqAvSDq1I08Akfla9BqGXEJhirxQCrMCTCLoM2XRbdD/EXLgJ/AiBacxCL2qtFHwm7TAXrkVr1pqie8pOR7jHEppnIYQAA80mMF0NGpRxIYgLQRTjQmCGuBBEIy4ECvdkIdCCl/rpGmA8QUIbY0DQWA0YC5G28IQzQdDgpX6grdPQhABh66QdCCccE/Tt21dNX9qEk1EQJCUlqfky3R/GhSDaDgE44bcdSaw/x7bZ0haDaNK2e/fu1vWLZP/+/Z0Sw/ASgmuvvdaVJ3bWkXki4Ia082JaWppTahj4TNqhPy3LAevUqeM6ziuvvFK1lUSemlcoYixo9pIDBgxwjjgMrMhDLAppq9UbTQgWL17sOncQ3nkyT42Im6Cl14jBZ3lMGrFWQab1uh84fokJEya47BAIVyuL6f4wLgTRdppTzD///KNOH2pr6jEXLu0QlEXCSwg0JyUteGnQsO0avCIxlSe1UPB4c2szQxo1IfCCdo81dunSxUlRPLRulcZbbrnFSRHG5s2bVVvNoxWRuzVbD7o/jAtBtB36mRJ+PAs1IfCzwYlpzEJUsNJGWS5DNqW2kScWhpm+aU2FAF0YbI6j5SGJJfGmQB3X8pDUQsfhza+5tmsh8tCCkHZF0P1hXAii7eJCEBeC4rjPCAH6uZqtKfGASvgRAoyWSlttE9SgQqB5x7Vv3975Ngw0mbWmqBbmDRtaSDtNCLCTsjaaromoFokXI/ylDYzw7wlCgK6BNmajEffYFNoOWxq1ZrwXTIVAc5fHcnzNVptx8enk5P5QEwJMLWHH2JJS26TDjxBgFxyZpxaPLqgQwDNRloPYbxK4IQjyIG0xCAg340hqy3M1IUDMB7Q+ZJ4Y9JHAak5ph/gMGjCtKI8JLRoJfCbthgwZUmZCgK3J5TlpLwBNCNCagjuzTK8R91gC6eW5Q9Sxpb6WhyQGFU1hKgSoX/KY4OWJQKuyfATylcDzJe0wAKmVxXR/qAlBLOBHCEwRVAiCom3btmpZkpoQxALwAdDCZ/fu3duxCAOfSbuyJKa2JDAaL+00IQgKr2m1IFvKe8FUCDSihYKB6pICLxUtX6b7w7gQlBzoRmhlSZalEGixHBBBWkKLKl2W1IKXYppU2sVCCFAXZDkILx8kzJsXgggB1n5o0b5MgcDEWr5M94dxISg5UEm1siTLUggwdiDLN/UsLEuaBi8tKyHw41noB0GEoEw9C7X+fCzw5ZdfusoOKgToO8s8vRiLRS6mwUvLUggaNGjgKh+ecBJl5R3nRW23nm7durnssPKztKFtSovBYNNdhv2giH56sYQQ7Ny508nJP3xFKEIIaDQ/Yk1tCsyPEOCCyDz79evnytOLmHKR6f1QA8KawWsukmhiyrKDCsGuXbtcx4PpLgkIQbNmzVzHBHdgmR6fSTsvmjrvYKBRS69R6xpgTb20u+CCC1zH7kWcv4R27eBiLMvBDI7WNdDqnfZwoi8v7UBM88qytDqiEV0DTJVq+ZoQz7aWL9P9Yc2aNalevXoxZ9WqVV1l+xECLO+VefqJ+Yc5e5nelC1btrSm+ySwxRYqTyQ134SgQoD+vDwmLQgIsGTJEtcxwZ1Xpsdn0s6LEBd5ThpxTFp6jdrGHZgWlHbwq5DH7kXNrwPb0kk7CLgsZ+HCheoD/tBDD7nSa0vNsfZD2oEYsJNl3Xbbber1k4RgYPBXy9eEeLa1fJnqh+VGP0JgevFiQSyaMV2Q8tZbb7nSBxUCBPGQefqJo69dO3xmCrj5yvQasU6itFHERp4u/vrrr06qMBBARdr5ccbCOcn02rXz2kZt5syZjkUYWpi3Mqb6YbnRjxBoOx2VFeHFpu13oMHUs9APgnoWmm6L7gWUJdNr1NZpBAXe8lpZGrWdjjRnLEQBNgUcfWR6zbNQC3YC5ubmOhZhYGNUzbYMqX5YbowLgRniQqCXJxkXAmOqH5YbTz75ZOfSFA+sydfyKAt6rdPX8O6777rSa27LfoB1FjLP0047zfm2eGjejvjMFChLptcIj9DShjbV50VtJkKbtkYUYFNoIqrFh4B7trQDFy1a5FiEoe0JUcbc76aKxObNm9/0zz//GPHuu+9W8ygLcovgpnXr1qnHJfnKK6+40nOLQLU1JbcIXHmedNJJqq3GLl26uNLjM81WI8qS6TVyi0BNH4Rjx45Vy9I4YsQIV3puEbjsWrVq5bLzYufOnV3pURel3YwZM1x2ILcIXLYsJKptGTKOOOLY58Gtkupxxhnnvs39uFmyft/g7vW7dzPxk/8G/+G//9mNn5F2cca57xEtgjjiiGMfxz4lBNtW/E05TzxNyZddRfN6I+JueDlnyRd2xhHHno99SgiyX3iJEg89gvKq16YpderRyikJ1ucQAbdHehxx7DtgIcBjEMmi8Y/zn/2H/VvoX+t/+4dvRKbB71aezof239EMwT4a+wiKQ+Jtd1Bm1WpU0LgJJVatSQuG/Gx9LvOUsHMPWYR+ByPkI/Q1wL9bFrg+VhCJEGOIqAvv/MI/duOfws+jYZ8XzsG+gvbfoc89Eu0VCJ0f0/7fvk7WJ/b1iB2i8w7dNuvTWBZbDJwWAS6DTRxN6MA8yUe/G/ZORY+q7IW/+4OVT+g4nGzsI8Fn9m9A5G0q/D30QTFYNnoUTT6+OU1jEUi6oiNtW+WE6/I4ZvtT+Xno0/BR2Z/Y/yArHHHYJvqaxgqhUkLXzb5q/LtnoRFHxEb2dUcqzsk70V4D6ww9zjNWZ498vfKOVZmm2M8+gJIfRlEnV2JYFTI2l2bjwoW0dMJk2hkK7sDF4AHQzsJ+PIqGlSoiqfP42X8IFPVdMIRy1vPerVT4sIDrsK/J3ovQmS+ZOpXyv/qaZvfpQwVffUPzx0/0uIrBEbqia6YXcFnf0pzv+tGM3t/SzOG/0O5du5xvywdWiwAHuHXdOlo7exZtmDeHOY851/kZ+j2S82nj3Hm0fs4c2s4PFNLv2LyV08+ldXP4e3Bu5E/OM+pn6PPwT+S1buYs2rpmNefH/+3eTdv59/WzptPaxCRa/tdftODXX2nu0GE0l5v083/+hZaP+YvWZaTTlpWrcBrFYsPipSwES9h+Ba1fMI+2rF5Fu/AwFHHnd+zYTetmzKQV48bS/KHDad7wYbR0zGhan5VN29ZFrDVw8gg9jNu3brHSrU1PpWV/jaYFYyfQrl1461pflypC7/9d/PCuXzCfr9lMvqazae2sWbRt/Ubr/khAHHAoGxctonWz59B6vp8bmGvy8mnDqhV7tRDgvENnl/P4EzTpwEMouWZtmnLgYZRw73+db0ofoVu/oF8/GnfwEZRSvRYlHlaFJp3TgXZsdy/BLksUDhbO69+PxtdvRMktWlBSi5OYJ/Pv/PPEk63frZ/MRHzOP1NOOIkm8M/VqXa4r7+Tk2lMM7Y//kRKws9mnE8UT7F+poS+a96CEpufyOR8myHNiTThmEY0/dPPrPw2r1xJCRddRinHnUApjZpQ8rH1KanuMZRUGzyakmsfS0n8WXJj/v7MtpT9wEP09zR3KPFCcMVPuuFmmtqgCSWdcCKNO7o+5X9j79Vn3yDnNjk/dmzaRHO//oZSrrya7U+ixHoNKKV2XUqsW4eS69Xj42pGSe06UPajz9DqrCwrDR6tkBAs/O0Xvp6NKY2PffJRVSn1kccsEQh9X7qw89y+bQuNu+xySuRzTD2hOY2p34Tmj/rL+s6yKXy47Z8rp0yiiS1a0jR0l/h+TGvQmP5q3Z7WsIDsmbCvrp9rPOu5bpRVvQ7lNz6esmrUpszHnnC+iR2W/TCIUmvWpbzGTSn36HqUevFltKP8WwT2RVvcuzelct85r2EjyuWKlFf/OCrgipTHlTmfWRDB/AaNKL9efUqr15DWJ9pCsCoxkf9uQAXHNqQ8rlCWTQRzGx7HnyPPxlwGkz8raNDQzpN/otwMLn/uBx9a+W1avpQSWWjy+YHNbdSUL1ozyjumHuXxw5jLzKlzNOUeU5+m4xi5zMzqtSmhPufX4zXavdMdqYdfgZTZ8RrKrsk3ndMkc1kzv/jK/opp94/ta7GuIJdSLrmCEqvVomwWnQI+n4KGTQqPNx/nwn/nHdOAphxyBM3+xo4IjPShKjjrnXcprWoNms5pk+seS3+PtuNA+qmk5rDz3Mats8TzLqDcWkfzdWlISXyui/4YZX1nqRBfg1D5W7lVlNT2fMquVYfPi8/nmGNpGt/PldzK2vOAcwoxjK0r/6al06bR1g0bnE8cRJjNfL4bZbAA5PNDmcmtgozH3KHrSw92wUt/GMgvlaMpr0lTyoEQXHIZ7dpZAboGwOLvvqMUrhR44HKbMBs2td6+aVypUvmgU2sdYxEnkMwPYVqNWjS5Rl1aMy3RSv83X/CJNepQGqtrSq26lMKVMJXzA7O4guUfd7z9MOMni0AK8qt5NKWzMqYxU2rVpskHH0Yzeva08tu0YhklnXq6JUS5TY6nHNyoc9tT+rU3UMoNnSn9muso/exzuVXQgHK4ZZDPLYc8vO2PrEYz3nzLyiMKEIJrrqcsfijzWP2TuMyZ3DcE7Ntj/7t54UKa1rodZVSvSwXc2ihoeAKl8XVI4Yc+hd+cKU2bc5n8cHP6XDTtTjzJ6tYAoYcM/2bfeRdl8bXKPboBpZ57Pu3cZEczirUQJFx4MVeu+nzsx3Hr5VhaNHK09R3KDUkdRC/zvw/xvarNds0pj4V2Gt/nuZZvhXOMsTjMmME6K+u3HRs3scB/QZm3d6W008+gP5ufQmvneUciLj8h4BZBpBBUhDECwBYCHNwJlHtsI8pu04EW8wEvH/gjLcfPAYP45yBu1gxk/sB/D6BFA36gLcu5P8npNy9dSnO/6k2Lv2R+3ZsWffWN9XNJ3340/bY7KJtPGA9gNrcasi64hJZ8+x0t5O8Xc/PbsmP7eZ/9j1Y7u/RujBCCvEZcqZlodeByIXgUQtFtW72alv72KyW3PY/yUPlZMPJYdKYefwJtkM1bRQhmcJlAqM7jZ/ajj1JalRqWYOVzKyWJW0b5jz9Ny/hNuSGvgNbn5NGyCRNp7hdfUsYV11DSbXfSTqs1EcqBj2v9Okptey63VFgEWBxnvPG29XnxQ48lhVNukUKAlo9d/nw+78Qa/EZim/wmJ1JaNb7vz75ofQe7PU0I7HOzD3j97Hk0sRE387k1V8DdxwTu+qxTlv2GEG8R2HAJAS5IDleg1I7ufde8UXStmffJp5TMFxtv9iy0MLre73zjjcgWQT6EgI9rVURAh8gS16SmUTL3+/O5GY5WRwq3VOZ/L7bOVlsEthCEHs/NixZQ4kncHanHZbJNCj9Qcz79n/OtG//s2klb/v7bOpbIN/3qlHRK5hZVPoteYtNmtDYv12VjDpM0ts22rdssIcgtFIJ6LAR21yAkAqtTUmgaWk/1GrHYnUCZLFSp13emnVs2W9/r4PyLPQycnW1k/7T/tqcjw8nD3+AX+y8b/NP+PxqFH0TYOcBvVo/H+t3+HIPbSae04i4cX4P6jVgIWtG6hbYQFJYbgeKEwB7XsRmCzMOGiYV9D5byC9USAjxrQgiiU4b/wm/W5bJ+t/6y/3Bg/RXxUejXSKvoFNGIFgJ+OCyV4ocl/cqrncP2D1ngnHfft7oKedzUzuJmdio322Bj54/f3IcIIUiObBHwgxkalAPsmxp+x+ZeeyPl1OGHnFs0qdW5X//BJ843DooUArv8JWPGUtIx9a2mcg63LNLP/g/t5Lc7YJdkdkXmff4Fd3tqc8WqQ9n32gEr7BLCZxwJ75zD4xYm2B4hBLiPyXXq06JRzhgBY9uaVZR0wYWUxZ/nc/cP1yvxP22s7pA3zMu3r1HoziCdnnY3WlAWbRvrX/7bC9YMR+gpENjN9xX5hbB51WpKank65dfHWFUTmnLK6bRpzWrnWzeKFAIuc5cSBRnQjwfnEm2vWS3j1nUyvxCtLq9LCOz/NOBcrWvlUS/kNQxZ4PrZs0T8icd19BSCtJgKwZ2WjZ0/fnMfXNFCYNvjxEIPcU6n66yH3HqT842d9/1A6/NCGAjB3F9+oYQ6UGp0jxpT2pmtaTt3P3CckWUVh8zbu1BujVqUwG/dlVPtXWoLK7/1Fz+Ua9fTwp+GUcGzz1MWC2PmLZzmwYdp1ief0LoZ0x0rBm6cWbFRQoCKPe3oY2lhhBBkP/YIpVWvyS2B5lZrZRqL5soEe4zH7Wtgn3EIa7NzaC535wqee4Gyu95NaTfdSlm3daGCp56mef0H0OYVf1t2Vi5WpePj2byZsj79gvJ69qTp771POW++Q/Oc/Spti9Cp2X9hyngm55XzzjuU3+tDynnrLZoxZAhnZ38/79ffKevNtyn/vQ8p6/V3aO6fYwrvzeJJUyjzjbcor1t3Sm92MuVwi6igwfGU1uwUynuhOxX06kUFb/WkHK6Lm5ctR6EWihIC5Is7NnfECLvcXh9QNpcxZ9Ro/lQi/MnmVatoXp/vqeCRxyn95i6UdefdNOOVV7ku2Bu4LB8yzGl9RwiBM0aAMvHfnOG/Rp3r/LETIu4Gd493bKf87/pQ3ts9Kfetd2lW/+/5e9tidXYW5XfrRslXX0OZfM52jkD4N4miWwR6mmIhkwUWgoZ212BN4UaP0aezMiGBkrmZm4+R/WMb0rTmJ9OmuXOdbx0UKQQ2MP2YzC2B6ZgV4PJS+CbN5grsB5i/n8TClVL5IMq+w45jZx9r+IgXDuI3Quv2lFzzGEqvUZNyWDRyata0KmISN9WnHn8iTeebq85+FIFIISjgY0iwhMAeI1jYrw8loPJxawczGdO4NbCgX0gs3dff/uwfWpWZQynX30TJjRtb4x3pfKxZterw8R5jMZ3vazKO+fSzaNGgH62UIblD1yml862UeNAh1sBk8mFVaOrZrWlHxCi+bWnfgU3z59NEvo+pR1WlNM5z8r8OYQH5wPoOyLzrXpp20MFWXlP+dRClPP2M8w2x2LxDk/51IGXUhJAfb7UMc5n4PYOPM4Wvc1qVmjSxTj1akxluWXoJgX32NrLu4XIPPNQaIJ9W+WBKftx7W/UFP/5EyWe1puTqdThfbhHWqcvXqy63UvkaHVufZrz6Bi37ri+lcd1CmVIIQnUxvcudNO3fXCaf62Q+17Ru9hhO4RXbuZ2SzruAkg85nJIPPZKSz73A+nzRoIE0hVt76dWqUwY+v/n2qHPxgksI8iEEXElSO5Y8DLUsNHDXgB/MhEYn0LrZs51vbezcvoOWjvqLks9uRznH2FN7cB+e9dHHjkUEDFoEOzesp+S27VkI61EuZje43GTON+/JZ2j9LHtmIAR5xKG/l0yeTOn8psx++jlaN32G83nYega/FRNQWfkhzcVMRG1unnNZCU25JYMpURaiPPRtq9SgXM4jXDWKR5QQNG5CSXwfl02ZRptZFKed0MIavCzgypfI/dOCl1+z0tiS6vWe4Hrx1xiaWrUqFfBDklWdKzRmjvgYk1lwrRcHV+SCJiycdevTFC5v8WB7/Ubomi4fNZIS+VzzGx3PFf847no1oBXcBQMsC/4nVPqSoUM4fz42Pnb075NPbEkb54Wve8HDj1AW16MCziuTH8rsl152vuHr+k4vSjjwYKt+WfPz/DDkgXjA+bPsGnUpu2oNmsb3f21WeOfgolsENvIffdz6Dm9wzCZlcxoNcz/5nKby9clFHePnKL9hY2tMLI2POaMG31s+jvRj61EWd8dyrFm0EzzHCArue4Cy+friXDNYxHJfs3dbRm0I2eTc0JmyOU/U/Yyrr6Olo0dTAh8jptUh+Dk1jqHMO+8qtMc9Cf0uobQI+AAbNKLM08+kvOe6UQE3q/L4xPOef9FirvXzJcp64ima88MANWP5WWAhwE3im5p934OU9+JLlP/CC1Tw6JOUdumVlMTN72yu4PBTSGp6Is3s+Z7VlASici22RWBbL/h+ACWwehfwNcBbBeMFmOJMbNGS8p54mlZOgIeg3PQCFxiXmSn6lJHHsGDADzSNK0Q+910xi5J8dhta0Ps7q6WzhpveC7/5mpJOO906n+lciaZxuYt+HmqltR4sp4kcdV4RiO4a8PU4tgnN//13yul6Dz9AGKU+nt9Qx1IOCxV3fp1Udm5anvhsx/r1NPmc9pR6znk0vcfrtGTwYFo9bjytHDvemjlJbX8hZfLDjYHHXM57Kp/T1lUrC/PbuXkLpZ5/KT8c9SmHr2dGdT6O519wvoVVuHLmcp3KQD3hhyiT36I53AIAQt/nP/yo9T0e2nR+eCOFYMGvv1HGXfdQ7h13Uxa3qNCdxL1LO+FEq2me8/BjlH//A5T24GO0fv7CwjxncN1GXsUJQQbfi3yuvxkQlEIhCB/7ijHjaerRfB0wNtGkOWXVr0+JTfg+33EvzeL6X9D9Vb4OF1N6Lb7+LHLICy0WKQShu5J733/5eOzBe7TCcl573foc5YXKzONuRw6Eh+tTJr/A0i+9nPPj68wvl1TMmFSrSVNvDbcI7K5DKHU0ooUAfgR8Ewr4QclrxJnzSWdUr2VdqHRuoqQ5P/FZMjfbsvnCa5BFBe0aWE08JpQdjkM4hnSu2DmW8h3HF6Ixpbc6g5aO+M1JDYTeSQ6KEALbjv91EmC6L5HP3ZqS5BuB1kE+Bg/5/C0Pw6uupkU/Debn0j4DS2n/2cn/ijIZob+3rlhBya3Oth6IbM4r8YyzaV1BvvVdZJrVU6da/gpo3eTyTYbY7dxur4uw7ML/uBASAhw3Klpm02aU1qkTZXJrCueBNxrOP5ub+ru5NWXnYldADba8cSXnpvSOdWvsDwU2L15iTZXmwpeD80/gh2kRN49t2CXMev8jbuLWst7Sufz2SjmnA20v7B7YNts3bqDkdufx92gyc+uIH5hFQ4dZ34UeDi8hiLzqm5cuo8SWrbhO8MPG1zDh5Fa0ka+9RCjPYEJgY9fWrZR62ZWUzt0AiB1adQknn0bLR/9ZWA6wfe06yuP8U+scY90Pqxvu0TWwhICfRxwXuiQhIQBCxwUhsFoEXD8tpzt+KaZzazbz9rtp2c/DaDW/tFakpnLd3GWlCcuWG4oQhPtW+XX4TcsVJxdN5UKy4qCwQ6tQwT26X7YsrrSEIIPTplerZVUq9CGz+IKi9YJmUPZxzSmtw7k0+7PPChdwROVqIAR2tbexgPvxiWe2phQuz3rDNsSNsx2bsmvXoUROn3pLF9ro7JZrV0b3eYQwl8tKqWZPocJBa2H/6N2II1PmPPQoV0puIjfk5j2f3xpn12YcXehYNUS2CKy3DZqf9eAV2ZhyWMDwgMHXAuMQsz6yXblx1vaRa3laEuf87lUq0ew33mBxrmudG95eM7nFGIn13KVLbHYSixuLNlf+ZD6+ZX9GuD4zVk2bSon1+Y3aiFti6HaceQ63LOw1JKG7UlSLIIT1fD8SW55qzRqgezHllNMK/Qjs87TPNZRnaQjBirHjKJFfSgVcD5FPUp16tHiQLYYoB1fRfhRZNLZtobRLrrDe3KiHJRGCQpvb7rRejrCZzi3AdO6GYLA0dNyFcFqSRcE9RsAnixHXzBYnUcblVzE7UgarXcZl/DtU7/IrKevSqyj53PO5v2s7ykjIQkuja5CBtwn31We8+x7NfPsdmvlSD8q45TZr7UMGN4NwE3K5SZ1YtTo3Ax+JeOM5MBKC6KPZvHw5zfzwE0o+7yJKrNvAbqpxFyTb6t9xi6lqLUpq24E2zbd3zI0qLwLoqmTefDMLF7cy+HxSTjyZ1k3Ppx3bt9OOrZtpx5Zt/HMr7djG3LGT5n30Kfcr4fXHb0b+ueDb7+x8mOFr5kakEFgiwGKQD89IPKBt2lEWi0puU24dYAzi+Ga0LjfPShd5zmHgevCnTjcL2LVrB63OyKSFAwbyw/8O5TzxBKU99BBlXcBl8kNuN+m5pXbPA4X5hapg9r33W9cP/Xb0mfOfCXUPbMzu2YtSucLnW2LCfeNn7e+ROlTxixKCUHnr5s2nJEsI4B6P6cNTaP1C27PQPp/oPEtDCKa/+joLIY6Lu6/cTUq/8BJ+4J1WnFUe/kOJdo5zP/jEal1HCYHWNShGCHK6dGUhsMcj4O4e1dLCw8/F2aVaZ24h9FNCEQI0V46l9Cs60u4d/DCxUv2Dnxo9tmeWhZXGYOE0DBY6rryRWD99Ble8+7hZhgcc7tFNKLFKLZrD/VcgdNEsIbjWnmIsSgg0YBps6ajRlH3PvdYbOq8uv224wubzg5ZetSal33mnNfXllX7bmtWU3LoNCxX3H/n6ZnPTP/3cDpTa4QL+eT6ltb+A6fzscCFlnX6WJcZ4g8MfIc9xmbZvqFcpYSFA1yCHHzi4SGNEP58fmI2z51LSqWdws9Xuz2dwvmm33sHHrXcNUEpofn4X3+t5ffvzS6AjJfI1xqKvjGrcIuM+aNZRNbny1+M8m3GZ3PXAd13vKTzK0PEu/eN3SuQ3ZT7fxxy+DqnntKPtjo8G5uozLJHGQN9x3GJoaI3FANZxWL+ZCcF6SwhaWd0CiMHUk1sWOhSFEJlnECEIfZ95x12UjbcxXxt8Pz1iNiMadorlP/zIrW/YR3QNfAhBqNxsbllnwjGJhQDXpeCJZ51v/EMIAR5WVil+WNKu7FRYYFHQHCvkJ0G7BtasAR9X5PRhJHbv3EoZN/IbFxWJHwA0u5Latqft62wfAAtc2TKvKVoITLBi7FhKOastZXNltsYOuNmdUK8prUxJdyzc2MSVM4WbqPkYJGLxQPlYOFWAtwIfRx66ZLXwk8nXKRczCrDlvmZKlaqU84o9wo/BHm+5iRaC/EbNKJObqxmdb6WdLGTA/N7fsjAcbVUutKASah1DC/r1tb6TAhP6a9uK5ZR+M7e8qtWwRr3zjq3PD0wtq3mPdRdpp55JGdwqy+UHGK0QCEGmM3aEax/KZ8emDSx8HVg0GlrjOklHN6AVzkKs9TNnWF0HLFaz6t5F/EblFhKA9KF76E8IMEagCwEQyjNwi4BfMLksYrm1udvMQojpvpnv9XK+jEboGi8byEKAbm3kGEEJhQDXGy8MeO5O7/me841/FCEEFdmhyL6o1n+OEC0fNpxSUFH5wmG0OJHFY01KsvWdBX67lUgIQofHDFmsSkik1CbN7VWauPn81p33pb2AScMmfhunnoTmKldOPr4cfnumnnYmpbY6i1JOO4uSuQWQzL+HfuKzlFZnWpzETfgZ/wstjrL/80Jh1wCDqHyOidxKWjI6Yq0Bv9lTudJmOzMIeDMntjydNi6wxzkkYJ95xz2UelQ1msHHja5XMh7YF17kfP+kdQXTaevSpTT744+sNxymnkNCEDrKUPMUmNWzJ6Vg1oDLTudrVvDM89bnC374wRqfsh7w6rW4m2AvPLPPOJy+IgrBPxCCTtdSbp36/GJoajmzTef6rsPOEet34FkY1SIowWChLQQYI4A3LR9fr7DPhV+4ugbWwcVcCIK6GNsVxErlCMHaKVMptV4jftNxk5rfhol169PysRF74xuMEYR+C8H6JPyP9RO/4bgzrrrGfgvwOaXxG3LB2+/ypzq2/r2CUs44yxrVxQxH6qmtaENWJm1bvpy2LVlMW5cssbhN4dbFi2nXxo1cdEgEQB2RYwSYPpzGPxeK5c+rk5O5m8ViySIGN2P0VRHLQcPy0WMoAe7IjVjw2D7ppJa0YrI75sOsgQPtLkiEEIRgDTc6XYz1M/jNjzUhGE9gsUrpcL4lNnmPP00ZaBVx6yqxKVp+9n0OnW2oHpZICE7BoqPFzrc2IvMsja5Bxu23cxMd4x98XHh4H3vK+UbCTrG4/w+Uxq2x0ugaoEsCGwhBQYTzlV9ECwE3TeHAACFI9RAC+yDsShn6XUJ+AiFItW5gyccIEvi4VvPDA6BkpLV9qK2PaOkgeyFHPqtyQUN+0LkSrE5Msr8E2BZCkM3nhrelPkYQeRyRZxj63f4XlTv9siv5gWMh4Ld7Wo2aNP/jTy1bCdjv5MqeflUnLpv70ixUyfUaW96Q/hB5bBL2d5GLjiAECXyuoUVHkcnzX+7Oby7ugnBT3vJA5L770t//sL6L7OpNf6UHN3Vr2hWc7ac/b7/Bce1xB0JuyXP79LUWeqFiQwiyIsYILETkmXXXXfzQ833ie5rMQrTszzGUdXlHy7kKU2EZN95kHYNdRuiq24AQYP2GFALbxrZaby06Os2aTcJgYQK3xDYsCC9DtoTJ+mmjZEIQ8vKzUdD9Fc4D06Pc7eNWU1I77payeNtl2J25EIHcF7pxWbZwYCYu5eLLaacz3lZoAyFwztVbCO6wrrc1loTByl7ulkjIFti1fUeh4AD2MdkWLiFAwXhYUjp2cr7xj8jCgbksBGg+Y/CqJF0DVJokfrhX5+Q439opQqe0a8sWyrzyesrkBxMj5ZgqSzzzP7RlZWhlIP7hrkGn6y2vSS8h2M0XaU3+dM43ehBUHt2yP/6gZH5L5jbktyq/XZP4Zi4bO975Vsd0bjGkV8X0IR9frfqUesNNtHPbFufb8MMVgiyzaNjWRS1DjsS2v1dSwjnnsmBwsxJjKnz8yW3a07ZV9nqBUH5ZDzzAD20t6wGA78bsd+wmO77FsYaOMe+hR6yKjT6yKgQRWDp8OB+XPY+ewfc094abKZOb7xg3SKlxNC3sY0+r4kpY1yRCRAqsaVVdCEJ+9pu4hZXMXaoCbn3lN+C+M7cM1ibb6ykiEbrSJRICfpAjsezP0Vb0LJwDuj3oos5+/yPn22hs4PqVfMqpVr3G9crja596SVgIQshjIYAXZfFCEOoa6EIAY0xezuO6nnThFZTIL7BF3//gXDPHgKGOESCYRjpXqA05WbQxL5825uQK5tCG3Fxu3mbRpvnuoA+hAw0BQgA/9SBCMI0vCPqkkUBVROzAzC63U5rzgENlU6tWoekvv2rZhN4qVtfAEQJMy9lCEOp729i2bClNPKM1Zd3QmeZ/P5DW5BXQtjVraPfWLbR782brzTK/N1/Qk1tZTkE5TU+gXBbP5AsvoZ2bNlv5uM/ExoaZM2nqCVjsg/njZpTOD0zGrbdZrRyZBn9v37CZVmbl0A5+sxQPO4eihcC+DiGxWTLsF0rirg3sMGUH34wZ3bpb34WOJ/+557nicyVs0txy3krnN9e21Wudb227ed/2oyR0M/geIYaDLQR3F+YhsX3DOkpr18GKNpVz3AmUzWnRvcrltzdmNbbwPbDAGVgaEJGRlxAAoTfbjs2bKL19B25hHMsPGl9nvgaYVdqOuBncMtu+lu8n98cDCYHTNQgBYe2SL7rEGuzFOeXwCwJjVLPff9+agkZZO7dupxXjx1Nq+/Mpu+YxlgMQXgpoVaZdeCnt2rbdzsxBqQkBY+nQYTS5mhPVCwGAWHz+jpiVAVxjBLbzzvGUjYGP45tTalPJEyn5+BP5uxY0lU8i8153bIGIe2fB3SLw1zXI5Qc3ky9I3h130ayXe1ic/uQzlHbt9daxwI8Ax2y9ZbhCJ51/EW0NrYYLvVFYCLI8WgShd9uyv8bww3M05fB3GPxKxKh463aUdfGllMV5Jp98mqX26OfnH9ecClgwJx/bkNPZzjGhR80Lsz//ghKq1bDiJhRgzpkrRNLxzSjj+htpxjPP83m9SrOefd5a3ZfBlXkc34tVSRHdG0/YZRYXmMRG6BFgYex6n+U+jZmMAn4gp/G1XjnJXiEHLOGWD2YWChra3qYZRzfkt1dHmvv+hzT3k/9R5m1dKZUFAg5WcBRChURot7QudxaWomHGW+/w27+Wdb+st2jj5vyA8XV/XMQLFJezaCEIA67oqAd2nTje8u9PPfs/fA8vpuRO19G2dWExCzxY6Bgt4y7Y5Lp83fHignA2amx1VdPPaEPpXCZerEkNG/HDXZvST2pJBdxlyUU3nAUx7fxLuFUbHby0NIUg/b+PUDZfD9xniCNC6OW82sP6LpRXoRAs+bYPF4gLghuDG8Q3HxVeIT6fUa8JZVfj/mNXe4VdJCJvCjDv3Q8okw8UQoDBjbQuXa2KEhYCd7VBzMLklmfwG7SRJU44iWx+4JEPblwWV5w8zEvzsWDaKat2bUrkC5Z29fW0aW4odFjEsfAdy+l0A+VzHlgAgz7yzC8juwZEOS+9RAn/PtRqVqLvPB1vK+7zZfODZbkzcysA1ye3fkPKrFqHppxwIi10PMjsPKJKDIM/Cn0K92Ws/MvG4BKXgePPrsN9Y65oWPyCwbBsdNEgmIdVoTlOXMWiYeeOMYIkrlT5rPjTOe8kFoKFEaHKJDbMKKCEZqfw+TZge7t1k3LplbTLCau2a/tWyuLKln5EVZqOQCt8D3L4TYuR/Qy+DzlH1eDKXp+ybr6V8ri5m9+A33J8fVO5RbWzCClYy81jBJC17h0/rPAdQMi5vyeHRchG9DHPeBAV2n44MvkYpBCErP8eP4mm8Esq/xhM0WGxE5dxbCPK4fqa1uoMbuWFhWAWt3rgto48s3H9C4OXhq9Y/qOPWSIB4YJtVuFaiegjhKPQNPj+83WHMKLlhzqTy/U0h7thiJeJlYFLuM7kXdnJmubFDE/GuRfQzg3RLb8CfsHmcB3FcUHUcguFIHxcOV3usOoKjgvTlvm99GnLzCef5m5pdb5/Tou5SnWa/m5oqtHOrVAI5n31FY07tAolcyVN4oqJqScQK9hCP63fEUkY5N8nH34kpd/axcnBG9PffJvGHXw4JbIITD30SJp0wy1W8bYY4MTCAxghbFy2hMZx6yP9qOr84NsPfybIJ4yfcIhBdyO5bgNKbH4KpV99LS34ri/3u8P7FUSBhWDapVfwMVehJD6OsQcfRjmffmF/Zf3LFWjKZErnt3HKqa2sACUYM8EbE55uIAY8rWvTshVlPfworXUiJiG9LC4S8vulf4yk1Ks7Wc3HpFp1LMXHzAN+YtAJLTMMKE7jpvKsAT84qYrHNj73MW3aUeKRVTnfujSKf879bYTzbTRCxzP7o49o4hF8TVAmV+Lx/z6cMl55vbAltX3lKsripnUSV1q8KFApcQ+ScS1OaWU5bmGjmCmnn02JR1WjaUdWoUnndqBdW+2uUiQirwO84jL4jYmuKBZCpfH9g+OSBGpHSFLS7rmXJqEesYhO/PcRlGytztQx5+uvaOpx3HKFaFnHzfeQr8d4fhNv/dvZ2IaR9cQTNP7gQ608J/37SErg1oSN8AOXcd8DVrm4VxNR/hNPO9+4sWDwYEps056vJeJ68tufidYwBmSTz7uMlo+3Z7ISL7iUEg6vaq0yncTXceuK5VZ5oXNNuf12mnQIl8nHNeGgIyi1W0j0wseVfH1nmoKlxnyv8Xyle3j6olU5BS74VapRCt8jBGvZILrZLAR20etmzaI5Q4bR/F9+Y/5aDH+h+b/+RvOG/kzLEt0DMRKrcvNpFqvgvJ+H0ZzBP9EifuBQ0UInHj61MLZv2UILhg6l+Z99RjPfepMKWP2xai33uReooNtLNIdPeiE37Rdzk2zj7Nn0T5SHHPIT4sLlLRo3ieb8NJjm83HM+ulHWjVjhv2V830Im5cs4+b+WFrw5Zc047U3KOeFl63VYws+/pQWjxhJmxeHI/qEzgFwn0UY+C7ye8Q5XJmeweL1Lc149TXKfbYbn9uLNPfNd2hhn360YtoUK6IQUFS+YfxDO3ftoLl//UlzBw/laz2cZg7+kdYuXszfyNL5r3/s67Njyyaay/d0Hl/rucOG0zyuyLN//4N2iVgIKyZNopnv9KQcfvimd+9BC34YQJs4bxv/0Py/RnO5Q6z08/meYIm4BhzFzm3bKP3Kq6wVmPlYLs0PzcKf7FWWGkJHvpQr9Gzr/v1Ms34cTEvT0sVZ2Qh9hmXgcz/7kvKee4lyX+Cu19tv0aJfR1izOCGb5ZyHnecw6+fipGTrO5v2lVuWlEizrfr7C83+8UdalppifR6N8CcYh1j86zCa+eZbXGe70aye79LSkX/Qjk22Yxfqy6LxE2kun/O8IXzNuAu2Y8tm51mwsSQhIepcl2XaY0k27eNaPJnrM3+H45rFx7UiJ9v6PBKhv9ckpVizFdndX6K12aGQf/jWrr32TkcRD0FZwTqVIor1e0SwD41klySt34S2Of8bkaao5LZ9mOaIrB5FwLqHXnYhqYpEqDp5w/qW89VSR0LPx/t4Zn/8GXcp7CYtvBUTL7rU8n60rd1p7Ous56V+yra6tQ18Z9UURwwl8L19dWBjf+aCcjyhdEXCup66TWHaUj8u9x20l0EVlhix5ZnzCX6YE6dUXDUBnAeU/7GsQ3+EEPFrIRwb64cwCP2lfY6SIqecwsBn+I7/ZYaP2ra1vw39gpwLPxGwvyk8D+eHZglo31nHEPrFgl2e/ZfzmWWD30M2JgjlEM7N/qyIPKyvYG1ducL/Ql/J1JG/Wyj8AKns+2xfW5elhSXDf6GEhsdTToMmls9KIjdrFw+JiLngAj4L0f7XsrP+Dx+rF6JtQr+F/sVP+/dQ2WF7+1/7qtgIf6LDThVG6Jrav4e+sa3s/2zgp51rJCM+t/6P/jw6Pa6493HZ9cw+lrCNnYvNiDGCOOKIBUJVb/vatdxEft/yasTiKww8WmM/WPi0M7RIN1wx4yhbxIUgjpgCj/WcPn0p4T9tKBluxA0aU+5xza3dmBJanU2bZ9uxJQsXVMV1oFwQF4I4Yo6Cl1+l1MOPpLzjsL6hKWXVqEtTTzmdVhYONKPdwDIQ14FyQ1wI4ogh7Mf678kTKbVePWvePKV6bUq5oiOtdYKiRI4nFA6ZxFHmiAtBHDFD6LnesWY1jW3fnpIuvowW/TSUdkYsfImjIoDo/2bTuiP+fr2oAAAAAElFTkSuQmCC">
                            </a>
                        </div>
                    </div>
                    <div class="footerLinkBlock footerLinkcardphone">

                        <a class="phoneNumber" href="#">
                            <svg width="63px" height="59px" viewbox="0 0 63 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="footer" transform="translate(-1079.000000, -327.000000)">
                                        <g id="customer-service">
                                            <g transform="translate(1079.000000, 327.000000)">
                                                <path d="M40.1811167,40.7614476 C38.4625758,39.0568364 36.3073564,39.0568364 34.5888154,40.7614476 C33.2787801,42.0575156 31.9687448,43.3535836 30.6868823,44.677827 C30.3347223,45.0441071 30.0389079,45.1145455 29.6022294,44.8750547 C28.7570454,44.4101607 27.8555157,44.0438807 27.0385044,43.5367236 C23.2492625,41.155903 20.0657359,38.0847854 17.2484556,34.6192122 C15.8539019,32.9005134 14.6002122,31.0691129 13.7409417,28.9982217 C13.5719049,28.5755908 13.5859913,28.3079246 13.9381514,27.9698199 C15.2481867,26.7019273 16.5300492,25.4058593 17.8119117,24.1097913 C19.6008846,22.3065662 19.6008846,20.1934119 17.7978253,18.3760991 C16.7836044,17.3476973 15.7552971,16.3192956 14.7269898,15.3049815 C13.6705097,14.2484043 12.6281161,13.1918271 11.5575496,12.1352499 C9.82492223,10.4447265 7.68378926,10.4306388 5.95116192,12.1352499 C4.64112661,13.4313179 3.3592641,14.769649 2.0351424,16.0375416 C0.795539096,17.2209081 0.161651045,18.657853 0.0348734342,20.3483765 C-0.162336182,23.0813895 0.499724672,25.6735255 1.44351355,28.195223 C3.38743691,33.4076704 6.33149475,38.0284346 9.89535424,42.2829187 C14.7129034,48.0306985 20.4883279,52.5669365 27.235714,55.8493696 C30.2642903,57.3285777 33.4196441,58.4555933 36.8426396,58.6387334 C39.1950686,58.7655226 41.2516832,58.1738394 42.8857057,56.342439 C44.0126178,55.0886341 45.2663075,53.9475307 46.4636516,52.7500766 C48.2244518,50.9750269 48.2385382,48.8196095 46.4918244,47.0586475 C44.3788642,44.9454932 42.2799905,42.8605142 40.1811167,40.7614476 Z" id="Path" fill="#454545" fill-rule="nonzero"></path>
                                                <path d="M57.7504714,5.090931 C50.7491302,-1.696977 39.4074304,-1.696977 32.4060892,5.090931 C25.6649329,11.6265857 25.4165745,22.060701 31.6491874,28.8830072 L31.8265863,29.032066 C31.1524706,30.4538575 29.9816382,32.1966988 28.1366902,33.0795854 C27.5217075,33.366237 27.6636266,34.2491236 28.3377422,34.3523182 C30.3600891,34.6619018 33.2576036,34.31792 35.9540662,32.3342915 L35.9895459,32.3686897 C42.8607947,36.2900825 51.8371765,35.3842637 57.7386449,29.6626993 C64.7518127,22.8747913 64.7518127,11.878839 57.7504714,5.090931 Z" id="Shape" fill="#454545" fill-rule="nonzero"></path>
                                                <path d="M47.9888023,17.2896509 C47.7261126,16.0803714 46.9908551,15.503365 46.0717149,15.503365 C45.1525747,15.503365 44.5223931,16.1081479 44.0760942,16.6301741 L44.0760942,23.1152683 C44.548662,23.5551104 45.1003104,24.0224427 46.0454459,24.0224427 C46.9120482,24.0224427 47.4636966,23.6650709 47.7523816,22.9234101 C48.0676092,22.1536863 48.1464161,21.4117391 48.1464161,19.6804334 C48.1464161,18.41646 48.1201471,17.8941475 47.9888023,17.2896509 M49.6432,26.0561398 C48.7240597,26.8252908 47.8049195,27.1551724 46.7018965,27.1551724 C45.3889954,27.1551724 44.4701288,26.7431068 43.7083287,25.8637089 C43.6032528,26.3582449 43.5769839,26.4956956 43.3408368,26.8802711 L40.1896552,26.8802711 C40.4520712,26.2485707 40.5308781,25.8359324 40.5308781,23.884992 L40.5308781,10.8589643 C40.5308781,9.12794495 40.4783402,8.19356678 40.294731,7.39663928 L43.8922115,6.51724138 C43.9972873,7.47910968 44.0235563,8.05611612 44.0235563,9.01769806 L44.0235563,12.3428587 C44.0235563,12.7552107 43.9972873,13.3597073 43.9447494,13.5796284 C44.6274689,12.810191 45.5728781,12.4531056 46.807246,12.4531056 C50.0894988,12.4531056 52.137931,15.2009735 52.137931,19.597963 C52.137931,22.4560778 51.2975977,24.6822059 49.6432,26.0561398" id="Fill-20" fill="#FFFFFF"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <span>
0850 333 99 11                                <small>M&#252;şteri Hizmetleri</small>
                            </span>
                        </a>


                        <div class="logos mt-60">
                            <img src="~/dist/assets/img/visa.png" style="width:75px">
                            <img src="~/dist/assets/img/master.png" style="width:40px">
                        </div>
                        <div class="logos mt-60">
                            <a target="_blank" href="#"><img src="~/dist/assets/img/google_play_badge_tr.svg" style="height:30px; max-height: 30px !important" alt="googleplay"></a>
                            <a target="_blank" href="#"><img src="~/dist/assets/img/appstore_badge_tr.svg" style="max-height: 30px !important" alt="appstore"></a>
                        </div>
                    </div>            </div>



            <div class="footerWrapper mt-90 bottomLine">
                <div class="footerLinkBlock ms">
                        <div>
                            <a target="_blank" href="#">
                                <img src="~/dist/assets/img/whatsapp.svg" style="height:30px; max-height: 30px !important" alt="whatsapp">
                            </a>
                        </div>
                    <a class="phoneNumber" href="#">
                        <span>
0850 333 99 11                            <small>M&#252;şteri Hizmetleri</small>
                        </span>
                    </a>
                    <div class="mt-30">
                        <a target="_blank" href="#"><img src="~/dist/assets/img/google_play_badge_tr.svg" style="height:30px; max-height: 30px !important" alt="googleplay"></a>
                        <a target="_blank" href="#"><img src="~/dist/assets/img/appstore_badge_tr.svg" style="max-height: 30px !important" alt="appstore"></a>
                    </div>
                </div>
                <div class="footerLinkBlock">
                    <div class="copyright">

                                <img width="190" height="31" class="footer-logo logo" src="~/dist/assets/img/logo_dark.svg" alt="biletinial">
                              


                    </div>
                </div>
                <div class="footerLinkBlock">
                    <div class="socialLinks">
                                <a target="_blank" href="#"><img src="~/dist/assets/img/youtube.svg" alt="youtube"></a>
                                <a target="_blank" href="#"><img src="~/dist/assets/img/twitter.svg?vs=1" alt="twitter"></a>
                                <a target="_blank" href="#"><img src="~/dist/assets/img/facebook.svg" alt="facebook"></a>
                                <a target="_blank" href="#"><img src="~/dist/assets/img/instagram.svg" alt="instagram"></a>
                                <a target="_blank" href="#"><img src="~/dist/assets/img/linkedin.svg" alt="linkedin"></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>

        



<script>

    var AvailableSeats = ' Boş Koltuk Mevcut';
    var PleaseSelectBlock = 'Lütfen Blok Seçiniz';
    var DeleteSeat = 'Koltuğu Sil';
    var The_seat_you_have_chosen_has_limited_visibility = 'Se&#231;miş olduğunuz koltukta g&#246;r&#252;ş kısıtlıdır';
    var An_unexpected_error_occurred_please_try_again_later = 'Beklenmeyen bir hata oluştu l&#252;tfen daha sonra tekrar deneyiniz.';
    var SehrineOzelEtkinlikler = 'Şehrine Özel Etkinlikler';
    var Takvim= 'Takvim';
    var Liste = 'Liste';
    var This_seat_is_not_available_for_election = 'Bu koltuk seçilmeye müsait değildir.';
    var Ok = 'Tamam';
    var SelectVenue = 'Mekan Seçiniz';
</script>


    </main>

 


    <script async="" src="~/optimize.js?id=OPT-NT4PX4M"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
