@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<div class="row justify-content-center mt-5 " style="margin-bottom:300px">
    <div class="col-md-6">
        <partial name="_StatusMessage" for="StatusMessage" class="text-center" />
        <h2 class="text-center mb-2">PROFIL</h2>
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" disabled />
                <label asp-for="Name" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Surname" class="form-control" disabled />
                <label asp-for="Surname" class="form-label"></label>
            </div>
            <div class="form-floating">
                <div class="input-group ">
                    <input asp-for="Balance" class="form-control" disabled />
                    <span class="input-group-text">₺</span>
                </div>

            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
